In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
files.upload() #TH CH Dimension table

{}

In [ ]:
matl_omn = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Material GRP for OMN SAP')
rayong_spend = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='CH TH Spend Data Column')
intercompany = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Intercompany')
report_table = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Report Table')
acc_assignment = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='AccAssignment')
wmaterial = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Mapping Y2021 wMat')
nomaterial = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Mapping Y2021 noMat')
th_logistic = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Rayong Logistic')
cn_logistic = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='China Logistic')
curr = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Exchange Rates', header=1)
rm_caojing = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Raw Materials MAP Caojing')
rm_ningbo = pd.read_excel('/content/TH CN Dimension Table.xlsx', sheet_name='Raw Materials MAP Ningbo')

In [ ]:
rayong_spend.head(3)

,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Plant,...,Unit Cost in LC,VC,VN,Quantity2,UOM,Division,RW Cat,Vendor Code1,Vendor Name1,Unit Price - Savings
0,2021,1,Indirect,Logistics,Logistics,0,Logistics,Logistics,NaN,4010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [ ]:
matl_omn.head(3)

,Matl Group,Material Group Desc.,Description 2 for the material group
0,FGCF300,Transportation Uphol,Fin/Semi-Fin Goods - Transportation Upholstery
1,FGCF301,Marine Upholstery,Fin/Semi-Fin Goods - Marine Upholstery
2,FGCF302,Industrial,Fin/Semi-Fin Goods - Industrial

In [ ]:
files.upload() #China MB51 new

{}

In [ ]:
caojing_rmpkg = pd.read_excel('/content/China MB51 May-23.xlsx', sheet_name='4120 RM&PKG', converters={'Item': lambda x: str(x)}) #maintain leading zero
ningbo_rmpkg = pd.read_excel('/content/China MB51 May-23.xlsx', sheet_name='4130 RM&PKG', converters={'Item': lambda x: str(x)}) #maintain leading zero
caojing_mro = pd.read_excel('/content/China MB51 May-23.xlsx', sheet_name='4120 MRO', converters={'Item': lambda x: str(x)}) #maintain leading zero
ningbo_mro = pd.read_excel('/content/China MB51 May-23.xlsx', sheet_name='4130 MRO', converters={'Item': lambda x: str(x)}) #maintain leading zero
podoc = pd.read_excel('/content/China MB51 May-23.xlsx', sheet_name='PODOC', converters={'Item': lambda x: str(x)}) #maintain leading zero

In [ ]:
podoc.head()

,Plnt,Pur. Doc.,Item,Vendor/supplying plant,Material,Matl Group,A
0,4130,4500294080,00010,110903 DHL,NaN,SRV0999,K
1,4130,4500295074,00010,110880 Ningbo Zhenhai Quanxing Trading,NaN,NST0190,K
2,4130,4500306882,00010,113198 Ningbo yinzhou yingfa packaging co.,202777.0,PKG0100,NaN
3,4130,4500306882,00020,113198 Ningbo yinzhou yingfa packaging co.,202784.0,PKG0100,NaN
4,4130,4500306882,00030,113198 Ningbo yinzhou yingfa packaging co.,202784.0,PKG0100,NaN

In [ ]:
podoc['POITEM'] = podoc['Pur. Doc.'].astype(str) + podoc['Item'].astype(str)
podoc['POITEM']

0      450029408000010
1      450029507400010
2      450030688200010
3      450030688200020
4      450030688200030
            ...
103    450032964400010
104    450032964900020
105    450032964900040
106    450032964900060
107    450032964900080
Name: POITEM, Length: 108, dtype: object

In [ ]:
caojing_rmpkg.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
ningbo_rmpkg.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount in LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
ningbo_rmpkg.rename(columns={'Amount in LC':'Amount LC'}, inplace=True) #rename

In [ ]:
#rayong_rmpkg_clean = pd.concat([rayong_rmpkg,rayong_mro], keys=['A', 'B'], names=['Source', 'Row ID'])
rayong_rmpkg = pd.concat([caojing_rmpkg,ningbo_rmpkg])

In [ ]:
#rayong_rmpkg.reset_index(drop=True, inplace=True)

In [ ]:
rayong_rmpkg.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
rayong_rmpkg.head(3)

,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,SLoc,MvT,...,User,WBS Elem.,Reference,Pstng Date,Quantity,Unit,Crcy,Amount LC,Quantity.1,EUn
0,4120,4120,Caojing Plant,110512,202612,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,1200,101,...,XIC,NaN,NaN,2023-05-31,14.000,EA,CNY,6991.32,14.0,EA
1,4120,4120,Caojing Plant,110453,100130,4500323974,00010,HYDROGENATED TALLOW DERIVED FATTY ACID,1200,101,...,LUH,NaN,NaN,2023-05-26,31746.592,LB,CNY,308535.60,14400.0,KG
2,4120,4120,Caojing Plant,110506,100100,4500328455,00010,BUTADIENE,1200,101,...,XUK,NaN,NaN,2023-05-25,53087.356,LB,CNY,177200.29,24080.0,KG

In [ ]:
caojing_mro.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'BUn', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
ningbo_mro.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'BUn', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
rayong_mro = pd.concat([caojing_mro,ningbo_mro])

In [ ]:
#rayong_mro.reset_index(drop=True, inplace=True)

In [ ]:
rayong_mro.head(3)

,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,SLoc,MvT,...,User,WBS Elem.,Reference,Pstng Date,Quantity,BUn,Crcy,Amount LC,Quantity.1,EUn
0,4120,4120,Caojing Plant,110526,NaN,4500316775,00010,10块AI卡件采购24275.33元（不含13%税）CIA,NaN,101,...,XIC,NaN,NaN,2023-05-31,0,NaN,CNY,24275.33,1.000,BAT
1,4120,4120,Caojing Plant,110566,NaN,4500306058,00010,2022年度危废运输费,NaN,101,...,LIULU,NaN,NaN,2023-05-31,0,NaN,CNY,950.00,0.050,/PC
2,4120,4120,Caojing Plant,110860,NaN,4500320591,00010,2023 Caojing Utility cost (Electricity),NaN,101,...,XIC,NaN,NaN,2023-05-31,0,NaN,CNY,309000.00,0.103,BAT

In [ ]:
rayong_mro.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'BUn', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
rayong_mro.head(3)

,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,SLoc,MvT,...,User,WBS Elem.,Reference,Pstng Date,Quantity,BUn,Crcy,Amount LC,Quantity.1,EUn
0,4120,4120,Caojing Plant,110526,NaN,4500316775,00010,10块AI卡件采购24275.33元（不含13%税）CIA,NaN,101,...,XIC,NaN,NaN,2023-05-31,0,NaN,CNY,24275.33,1.000,BAT
1,4120,4120,Caojing Plant,110566,NaN,4500306058,00010,2022年度危废运输费,NaN,101,...,LIULU,NaN,NaN,2023-05-31,0,NaN,CNY,950.00,0.050,/PC
2,4120,4120,Caojing Plant,110860,NaN,4500320591,00010,2023 Caojing Utility cost (Electricity),NaN,101,...,XIC,NaN,NaN,2023-05-31,0,NaN,CNY,309000.00,0.103,BAT

In [ ]:
rayong_mro.rename(columns = {'Mvt Type Text':'MvtTypeTxt', 'User name':'User','BUn':'Unit'}, inplace=True)

In [ ]:
rayong_rmpkg.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
#rayong_rmpkg.rename(columns={'Amount in LC':'Amount LC'}, inplace=True)

In [ ]:
rayong_rmpkg.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
rayong_mro.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'MvtTypeTxt', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn'],
      dtype='object')

In [ ]:
rayong_rmpkg.columns.duplicated().sum()

0

In [ ]:
rayong_rmpkg.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [ ]:
rayong_mro.columns.duplicated().sum()

0

In [ ]:
rayong_rmpkg_clean = pd.concat([rayong_rmpkg,rayong_mro], keys=['A', 'B'], names=['Source', 'Row ID'])

In [ ]:
rayong_rmpkg_clean.reset_index(inplace=True)

In [ ]:
rayong_rmpkg_clean.head()

,Source,Row ID,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,...,WBS Elem.,Reference,Pstng Date,Quantity,Unit,Crcy,Amount LC,Quantity.1,EUn,MvtTypeTxt
0,A,0,4120,4120,Caojing Plant,110512,202612.0,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,...,NaN,NaN,2023-05-31,14.000,EA,CNY,6991.32,14.0,EA,NaN
1,A,1,4120,4120,Caojing Plant,110453,100130.0,4500323974,00010,HYDROGENATED TALLOW DERIVED FATTY ACID,...,NaN,NaN,2023-05-26,31746.592,LB,CNY,308535.60,14400.0,KG,NaN
2,A,2,4120,4120,Caojing Plant,110506,100100.0,4500328455,00010,BUTADIENE,...,NaN,NaN,2023-05-25,53087.356,LB,CNY,177200.29,24080.0,KG,NaN
3,A,3,4120,4120,Caojing Plant,110447,100100.0,4500327884,00010,BUTADIENE,...,NaN,NaN,2023-05-24,54454.238,LB,CNY,181762.80,24.7,TO,NaN
4,A,4,4120,4120,Caojing Plant,110512,202612.0,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,...,NaN,NaN,2023-05-24,40.000,EA,CNY,19975.20,40.0,EA,NaN

In [ ]:
rayong_rmpkg_clean.columns

Index(['Source', 'Row ID', 'CoCd', 'Plant', 'Name 1', 'Supplier', 'Material',
       'PO', 'Item', 'Material Description', 'SLoc', 'MvT', 'Mvt Type Text',
       'Mat. Doc.', 'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference',
       'Pstng Date', 'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1',
       'EUn', 'MvtTypeTxt'],
      dtype='object')

In [ ]:
rayong_rmpkg_clean = rayong_rmpkg_clean.iloc[:,2:]

In [ ]:
rayong_rmpkg_clean.head()

,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,SLoc,MvT,...,WBS Elem.,Reference,Pstng Date,Quantity,Unit,Crcy,Amount LC,Quantity.1,EUn,MvtTypeTxt
0,4120,4120,Caojing Plant,110512,202612.0,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,1200.0,101,...,NaN,NaN,2023-05-31,14.000,EA,CNY,6991.32,14.0,EA,NaN
1,4120,4120,Caojing Plant,110453,100130.0,4500323974,00010,HYDROGENATED TALLOW DERIVED FATTY ACID,1200.0,101,...,NaN,NaN,2023-05-26,31746.592,LB,CNY,308535.60,14400.0,KG,NaN
2,4120,4120,Caojing Plant,110506,100100.0,4500328455,00010,BUTADIENE,1200.0,101,...,NaN,NaN,2023-05-25,53087.356,LB,CNY,177200.29,24080.0,KG,NaN
3,4120,4120,Caojing Plant,110447,100100.0,4500327884,00010,BUTADIENE,1200.0,101,...,NaN,NaN,2023-05-24,54454.238,LB,CNY,181762.80,24.7,TO,NaN
4,4120,4120,Caojing Plant,110512,202612.0,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,1200.0,101,...,NaN,NaN,2023-05-24,40.000,EA,CNY,19975.20,40.0,EA,NaN

In [ ]:
rayong_spend.head()

,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Plant,...,Unit Cost in LC,VC,VN,Quantity2,UOM,Division,RW Cat,Vendor Code1,Vendor Name1,Unit Price - Savings
0,2021,1,Indirect,Logistics,Logistics,0,Logistics,Logistics,NaN,4010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [ ]:
rayong_rmpkg.head(3)

,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,SLoc,MvT,...,User,WBS Elem.,Reference,Pstng Date,Quantity,Unit,Crcy,Amount LC,Quantity.1,EUn
0,4120,4120,Caojing Plant,110512,202612,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,1200,101,...,XIC,NaN,NaN,2023-05-31,14.000,EA,CNY,6991.32,14.0,EA
1,4120,4120,Caojing Plant,110453,100130,4500323974,00010,HYDROGENATED TALLOW DERIVED FATTY ACID,1200,101,...,LUH,NaN,NaN,2023-05-26,31746.592,LB,CNY,308535.60,14400.0,KG
2,4120,4120,Caojing Plant,110506,100100,4500328455,00010,BUTADIENE,1200,101,...,XUK,NaN,NaN,2023-05-25,53087.356,LB,CNY,177200.29,24080.0,KG

In [ ]:
rayong_rmpkg_clean.head(3)

,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,SLoc,MvT,...,WBS Elem.,Reference,Pstng Date,Quantity,Unit,Crcy,Amount LC,Quantity.1,EUn,MvtTypeTxt
0,4120,4120,Caojing Plant,110512,202612.0,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,1200.0,101,...,NaN,NaN,2023-05-31,14.000,EA,CNY,6991.32,14.0,EA,NaN
1,4120,4120,Caojing Plant,110453,100130.0,4500323974,00010,HYDROGENATED TALLOW DERIVED FATTY ACID,1200.0,101,...,NaN,NaN,2023-05-26,31746.592,LB,CNY,308535.60,14400.0,KG,NaN
2,4120,4120,Caojing Plant,110506,100100.0,4500328455,00010,BUTADIENE,1200.0,101,...,NaN,NaN,2023-05-25,53087.356,LB,CNY,177200.29,24080.0,KG,NaN

In [ ]:
podoc.head(3)

,Plnt,Pur. Doc.,Item,Vendor/supplying plant,Material,Matl Group,A,POITEM
0,4130,4500294080,00010,110903 DHL,NaN,SRV0999,K,450029408000010
1,4130,4500295074,00010,110880 Ningbo Zhenhai Quanxing Trading,NaN,NST0190,K,450029507400010
2,4130,4500306882,00010,113198 Ningbo yinzhou yingfa packaging co.,202777.0,PKG0100,NaN,450030688200010

In [ ]:
rayong_rmpkg_clean['POITEM'] = rayong_rmpkg_clean['PO'].astype(str) + rayong_rmpkg_clean['Item']

In [ ]:
rayong_rmpkg_clean['POITEM']

0      450031724000010
1      450032397400010
2      450032845500010
3      450032788400010
4      450031724000010
            ...
263    450032796400010
264    450029408000010
265    450030888300010
266    450030888300020
267    450032796400010
Name: POITEM, Length: 268, dtype: object

In [ ]:
rayong_rmpkg_clean['POITEM'] = rayong_rmpkg_clean['POITEM'].astype(str) #both merge column need to have same dtypes

In [ ]:
podoc['POITEM'] = podoc['POITEM'].astype(str) #both merge column need to have same dtypes

In [ ]:
rayong_rmpkg_clean.head(3)

,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,SLoc,MvT,...,Reference,Pstng Date,Quantity,Unit,Crcy,Amount LC,Quantity.1,EUn,MvtTypeTxt,POITEM
0,4120,4120,Caojing Plant,110512,202612.0,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,1200.0,101,...,NaN,2023-05-31,14.000,EA,CNY,6991.32,14.0,EA,NaN,450031724000010
1,4120,4120,Caojing Plant,110453,100130.0,4500323974,00010,HYDROGENATED TALLOW DERIVED FATTY ACID,1200.0,101,...,NaN,2023-05-26,31746.592,LB,CNY,308535.60,14400.0,KG,NaN,450032397400010
2,4120,4120,Caojing Plant,110506,100100.0,4500328455,00010,BUTADIENE,1200.0,101,...,NaN,2023-05-25,53087.356,LB,CNY,177200.29,24080.0,KG,NaN,450032845500010

In [ ]:
rayong_rmpkg_clean.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn',
       'MvtTypeTxt', 'POITEM'],
      dtype='object')

In [ ]:
df_rayong_sap = rayong_rmpkg_clean.merge(podoc[['POITEM','Vendor/supplying plant', 'Matl Group', 'A']], on='POITEM', how='left')

In [ ]:
df_rayong_sap.head(3)

,CoCd,Plant,Name 1,Supplier,Material,PO,Item,Material Description,SLoc,MvT,...,Unit,Crcy,Amount LC,Quantity.1,EUn,MvtTypeTxt,POITEM,Vendor/supplying plant,Matl Group,A
0,4120,4120,Caojing Plant,110512,202612.0,4500317240,00010,POLYETHYLENE IBC 1000 L FOR LATEX,1200.0,101,...,EA,CNY,6991.32,14.0,EA,NaN,450031724000010,NaN,NaN,NaN
1,4120,4120,Caojing Plant,110453,100130.0,4500323974,00010,HYDROGENATED TALLOW DERIVED FATTY ACID,1200.0,101,...,LB,CNY,308535.60,14400.0,KG,NaN,450032397400010,NaN,NaN,NaN
2,4120,4120,Caojing Plant,110506,100100.0,4500328455,00010,BUTADIENE,1200.0,101,...,LB,CNY,177200.29,24080.0,KG,NaN,450032845500010,NaN,NaN,NaN

In [ ]:
df_rayong_sap.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn',
       'MvtTypeTxt', 'POITEM', 'Vendor/supplying plant', 'Matl Group', 'A'],
      dtype='object')

In [ ]:
matl_omn.head(3)

,Matl Group,Material Group Desc.,Description 2 for the material group
0,FGCF300,Transportation Uphol,Fin/Semi-Fin Goods - Transportation Upholstery
1,FGCF301,Marine Upholstery,Fin/Semi-Fin Goods - Marine Upholstery
2,FGCF302,Industrial,Fin/Semi-Fin Goods - Industrial

In [ ]:
df_rayong_sap = df_rayong_sap.merge(matl_omn, on='Matl Group', how='left')

In [ ]:
df_rayong_sap.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn',
       'MvtTypeTxt', 'POITEM', 'Vendor/supplying plant', 'Matl Group', 'A',
       'Material Group Desc.', 'Description 2 for the material group'],
      dtype='object')

In [ ]:
df_rayong_sap['Vendor/supplying plant'].head(3)

0    NaN
1    NaN
2    NaN
Name: Vendor/supplying plant, dtype: object

In [ ]:
df_rayong_sap[['VC', 'VN']] = df_rayong_sap['Vendor/supplying plant'].str.split(' ', 1, expand=True) #split space at 1st occurence

<ipython-input-55-abea501b0f0c>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_rayong_sap[['VC', 'VN']] = df_rayong_sap['Vendor/supplying plant'].str.split(' ', 1, expand=True) #split space at 1st occurence

In [ ]:
df_rayong_sap[['VC', 'VN']]

         VC                              VN
0       NaN                             NaN
1       NaN                             NaN
2       NaN                             NaN
3       NaN                             NaN
4       NaN                             NaN
..      ...                             ...
263  113792      Ningbo Kelan Gas Co., Ltd.
264  110903                             DHL
265  110650               NingBo ChangJiang
266  110650               NingBo ChangJiang
267  113792      Ningbo Kelan Gas Co., Ltd.

[268 rows x 2 columns]

In [ ]:
df_rayong_sap.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn',
       'MvtTypeTxt', 'POITEM', 'Vendor/supplying plant', 'Matl Group', 'A',
       'Material Group Desc.', 'Description 2 for the material group', 'VC',
       'VN'],
      dtype='object')

In [ ]:
df_rayong_sap['Quantity.1']

0         14.00
1      14400.00
2      24080.00
3         24.70
4         40.00
         ...
263        7.16
264     1820.15
265        1.00
266        1.00
267        6.60
Name: Quantity.1, Length: 268, dtype: float64

In [ ]:
df_rayong_sap.loc[(df_rayong_sap['Unit'] == 'KG')|(df_rayong_sap['Unit'] == 'L')|(df_rayong_sap['Unit'] == 'YD'), 'QTY_1'] = df_rayong_sap['Quantity']

In [ ]:
df_rayong_sap.loc[(df_rayong_sap['Unit'] == 'KG')|(df_rayong_sap['Unit'] == 'L')|(df_rayong_sap['Unit'] == 'YD'), 'UOM1_1'] = df_rayong_sap['Unit']

In [ ]:
df_rayong_sap['QTY_1'].head(20)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12    7300.0
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
Name: QTY_1, dtype: float64

In [ ]:
df_rayong_sap.loc[(df_rayong_sap['EUn'] == 'KG')|(df_rayong_sap['EUn'] == 'L')|(df_rayong_sap['EUn'] == 'YD'), 'QTY_2'] = df_rayong_sap['Quantity.1']
df_rayong_sap.loc[(df_rayong_sap['EUn'] == 'TO'), 'QTY_2'] = df_rayong_sap['Quantity.1']*1000

In [ ]:
df_rayong_sap.loc[(df_rayong_sap['EUn'] == 'KG')|(df_rayong_sap['EUn'] == 'L')|(df_rayong_sap['EUn'] == 'YD'), 'UOM1_2'] = df_rayong_sap['EUn']
df_rayong_sap.loc[(df_rayong_sap['EUn'] == 'TO'), 'UOM1_2'] = 'KG'

In [ ]:
df_rayong_sap['QTY_2'].head(20)

0         NaN
1     14400.0
2     24080.0
3     24700.0
4         NaN
5      3000.0
6     24820.0
7      2000.0
8      2000.0
9         NaN
10        NaN
11       50.0
12     7300.0
13      -40.0
14      600.0
15    26280.0
16    19940.0
17    28880.0
18    19060.0
19    20000.0
Name: QTY_2, dtype: float64

In [ ]:
df_rayong_sap['QTY'] = np.where(df_rayong_sap['QTY_1'].isnull(),df_rayong_sap['QTY_2'],df_rayong_sap['QTY_1'])

In [ ]:
df_rayong_sap['UOM1'] = np.where(df_rayong_sap['UOM1_1'].isnull(),df_rayong_sap['UOM1_2'],df_rayong_sap['UOM1_1'])

In [ ]:
df_rayong_sap['UP'] = np.where(~df_rayong_sap['QTY'].isnull(),(df_rayong_sap['Amount LC']/df_rayong_sap['QTY']),0)

In [ ]:
df_rayong_sap['UP'] = df_rayong_sap['UP'].round(2) #set decimal = 2

In [ ]:
df_rayong_sap['QTY'].head(20)

0         NaN
1     14400.0
2     24080.0
3     24700.0
4         NaN
5      3000.0
6     24820.0
7      2000.0
8      2000.0
9         NaN
10        NaN
11       50.0
12     7300.0
13      -40.0
14      600.0
15    26280.0
16    19940.0
17    28880.0
18    19060.0
19    20000.0
Name: QTY, dtype: float64

In [ ]:
df_rayong_sap[['Unit','EUn']].head(20)

   Unit EUn
0    EA  EA
1    LB  KG
2    LB  KG
3    LB  TO
4    EA  EA
5    LB  KG
6    LB  KG
7    LB  KG
8    LB  KG
9    EA  EA
10   EA  EA
11   LB  KG
12   KG  KG
13   LB  KG
14   LB  KG
15   LB  KG
16   LB  KG
17   LB  KG
18   LB  KG
19   LB  KG

In [ ]:
x = df_rayong_sap[['Quantity','Unit','Quantity.1','EUn','QTY_1','QTY_2','QTY','UOM1','Matl Group','UP']]
x.head(20)

,Quantity,Unit,Quantity.1,EUn,QTY_1,QTY_2,QTY,UOM1,Matl Group,UP
0,14.000,EA,14.0,EA,NaN,NaN,NaN,NaN,NaN,0.00
1,31746.592,LB,14400.0,KG,NaN,14400.0,14400.0,KG,NaN,21.43
2,53087.356,LB,24080.0,KG,NaN,24080.0,24080.0,KG,NaN,7.36
3,54454.238,LB,24.7,TO,NaN,24700.0,24700.0,KG,NaN,7.36
4,40.000,EA,40.0,EA,NaN,NaN,NaN,NaN,NaN,0.00
5,6613.873,LB,3000.0,KG,NaN,3000.0,3000.0,KG,NaN,8.23
6,54718.778,LB,24820.0,KG,NaN,24820.0,24820.0,KG,NaN,7.56
7,4409.249,LB,2000.0,KG,NaN,2000.0,2000.0,KG,NaN,6.46
8,4409.249,LB,2000.0,KG,NaN,2000.0,2000.0,KG,NaN,33.50
9,40.000,EA,40.0,EA,NaN,NaN,NaN,NaN,NaN,0.00
10,20.000,EA,20.0,EA,NaN,NaN,NaN,NaN,NaN,0.00
11,110.231,LB,50.0,KG,NaN,50.0,50.0,KG,NaN,24.78
12,7300.000,KG,7300.0,KG,7300.0,7300.0,7300.0,KG,NaN,0.63
13,-88.185,LB,-40.0,KG,NaN,-40.0,-40.0,KG,NaN,7.36
14,1322.775,LB,600.0,KG,NaN,600.0,600.0,KG,NaN,7.36
15,57937.530,LB,26280.0,KG,NaN,26280.0,26280.0,KG,NaN,7.36
16,43960.211,LB,19940.0,KG,NaN,19940.0,19940.0,KG,NaN,7.36
17,63669.553,LB,28880.0,KG,NaN,28880.0,28880.0,KG,NaN,7.56
18,42020.141,LB,19060.0,KG,NaN,19060.0,19060.0,KG,NaN,7.36
19,44092.488,LB,20000.0,KG,NaN,20000.0,20000.0,KG,NaN,6.45

In [ ]:
x.loc[x['EUn']=='TO',:].head(10)

,Quantity,Unit,Quantity.1,EUn,QTY_1,QTY_2,QTY,UOM1,Matl Group,UP
3,54454.238,LB,24.70,TO,NaN,24700.0,24700.0,KG,NaN,7.36
22,54277.868,LB,24.62,TO,NaN,24620.0,24620.0,KG,NaN,7.36
32,53660.573,LB,24.34,TO,NaN,24340.0,24340.0,KG,NaN,7.36
42,42990.188,LB,19.50,TO,NaN,19500.0,19500.0,KG,NaN,7.36
48,54718.793,LB,24.82,TO,NaN,24820.0,24820.0,KG,NaN,7.36
51,8818.500,LB,4.00,TO,NaN,4000.0,4000.0,KG,NaN,12.92
183,0.000,NaN,8.68,TO,NaN,8680.0,8680.0,KG,NaN,0.77
259,0.000,NaN,0.06,TO,NaN,60.0,60.0,KG,NST0280,3.15
260,0.000,NaN,0.30,TO,NaN,300.0,300.0,KG,NST0280,3.15
261,0.000,NaN,0.10,TO,NaN,100.0,100.0,KG,NST0280,3.15

In [ ]:
df_rayong_sap['Matl Group'].value_counts()

RAW0260    29
PKG0100    14
PKG0160    11
NST0280    11
MRO0130    10
MRO0190    10
NST0240     8
SRV0999     8
SRV0200     6
MRO0900     5
MRO0100     5
MRO0180     3
MRO0200     3
NST0190     3
RAW0330     3
SRV0320     2
NST0180     2
RAW0160     2
MRO0220     2
SRV0230     1
RAW0410     1
MRO0120     1
RAW0270     1
MRO0230     1
MRO0150     1
MRO0160     1
Name: Matl Group, dtype: int64

In [ ]:
df_rayong_sap.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn',
       'MvtTypeTxt', 'POITEM', 'Vendor/supplying plant', 'Matl Group', 'A',
       'Material Group Desc.', 'Description 2 for the material group', 'VC',
       'VN', 'QTY_1', 'UOM1_1', 'QTY_2', 'UOM1_2', 'QTY', 'UOM1', 'UP'],
      dtype='object')

In [ ]:
pd.to_datetime("today").date()

datetime.date(2023, 6, 7)

In [ ]:
df_rayong_sap.columns

Index(['CoCd', 'Plant', 'Name 1', 'Supplier', 'Material', 'PO', 'Item',
       'Material Description', 'SLoc', 'MvT', 'Mvt Type Text', 'Mat. Doc.',
       'Item.1', 'Order', 'User', 'WBS Elem.', 'Reference', 'Pstng Date',
       'Quantity', 'Unit', 'Crcy', 'Amount LC', 'Quantity.1', 'EUn',
       'MvtTypeTxt', 'POITEM', 'Vendor/supplying plant', 'Matl Group', 'A',
       'Material Group Desc.', 'Description 2 for the material group', 'VC',
       'VN', 'QTY_1', 'UOM1_1', 'QTY_2', 'UOM1_2', 'QTY', 'UOM1', 'UP'],
      dtype='object')

In [ ]:
df_rayong_sap.rename(columns = {'Name 1':'Plant Name', 'PO':'Purchase Order', 'Item':'PO Item No', 'SLoc':'Storage Location',
                        'MvT':'Movement Type', 'MvtTypeTxt':'Movement Type Text', 'Mat. Doc.':'Material Document','Pstng Date':'Posting Date', 'Unit':'Base Unit of Measure', 'Crcy':'Currency',
                        'Amount LC':'Amount in LC', 'Quantity.1':'Qty in Un. of Entry','EUn':'Unit of Entry','Vendor/supplying plant':'Vendor Name','A':'Acct Assignment Cat.','QTY':'Quantity.1',
                        'UOM1':'UOM','UP':'Unit Price - Savings','Supplier':'Vendor', 'User':'User name'}, inplace = True)

In [ ]:
df_rayong_sap.columns

Index(['CoCd', 'Plant', 'Plant Name', 'Vendor', 'Material', 'Purchase Order',
       'PO Item No', 'Material Description', 'Storage Location',
       'Movement Type', 'Mvt Type Text', 'Material Document', 'Item.1',
       'Order', 'User name', 'WBS Elem.', 'Reference', 'Posting Date',
       'Quantity', 'Base Unit of Measure', 'Currency', 'Amount in LC',
       'Qty in Un. of Entry', 'Unit of Entry', 'Movement Type Text', 'POITEM',
       'Vendor Name', 'Matl Group', 'Acct Assignment Cat.',
       'Material Group Desc.', 'Description 2 for the material group', 'VC',
       'VN', 'QTY_1', 'UOM1_1', 'QTY_2', 'UOM1_2', 'Quantity.1', 'UOM',
       'Unit Price - Savings'],
      dtype='object')

In [ ]:
rayong_spend.columns

Index(['Year', 'Month', 'Report Table', 'Level 1', 'Level 2', 'UNSPSC',
       'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'Plant',
       'Material', 'Vendor', 'Purchase Order', 'PO Item No',
       'Material Description', 'Storage Location', 'Movement Type',
       'Movement Type Text', 'Material Document', 'Posting Date', 'Order',
       'Quantity', 'Base Unit of Measure', 'Currency', 'Amount in LC',
       'Qty in Un. of Entry', 'Unit of Entry', 'User name', 'Vendor Name',
       'Matl Group', 'Material Group Desc.',
       'Description 2 for the material group', 'Acct Assignment Cat.',
       'Plant Name', 'CP2', 'Amount in MYR', 'Period', 'Country',
       'Unit Cost in LC', 'VC', 'VN', 'Quantity2', 'UOM', 'Division', 'RW Cat',
       'Vendor Code1', 'Vendor Name1', 'Unit Price - Savings'],
      dtype='object')

In [ ]:
rayong_spend.head(1)

,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Plant,...,Unit Cost in LC,VC,VN,Quantity2,UOM,Division,RW Cat,Vendor Code1,Vendor Name1,Unit Price - Savings
0,2021,1,Indirect,Logistics,Logistics,0,Logistics,Logistics,NaN,4010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [ ]:
rayong_spend = rayong_spend.head(1)

In [ ]:
rayong_spend

,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Plant,...,Unit Cost in LC,VC,VN,Quantity2,UOM,Division,RW Cat,Vendor Code1,Vendor Name1,Unit Price - Savings
0,2021,1,Indirect,Logistics,Logistics,0,Logistics,Logistics,NaN,4010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [ ]:
rayong_spend.columns

Index(['Year', 'Month', 'Report Table', 'Level 1', 'Level 2', 'UNSPSC',
       'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'Plant',
       'Material', 'Vendor', 'Purchase Order', 'PO Item No',
       'Material Description', 'Storage Location', 'Movement Type',
       'Movement Type Text', 'Material Document', 'Posting Date', 'Order',
       'Quantity', 'Base Unit of Measure', 'Currency', 'Amount in LC',
       'Qty in Un. of Entry', 'Unit of Entry', 'User name', 'Vendor Name',
       'Matl Group', 'Material Group Desc.',
       'Description 2 for the material group', 'Acct Assignment Cat.',
       'Plant Name', 'CP2', 'Amount in MYR', 'Period', 'Country',
       'Unit Cost in LC', 'VC', 'VN', 'Quantity2', 'UOM', 'Division', 'RW Cat',
       'Vendor Code1', 'Vendor Name1', 'Unit Price - Savings'],
      dtype='object')

In [ ]:
df_rayong_sap.columns

Index(['CoCd', 'Plant', 'Plant Name', 'Vendor', 'Material', 'Purchase Order',
       'PO Item No', 'Material Description', 'Storage Location',
       'Movement Type', 'Mvt Type Text', 'Material Document', 'Item.1',
       'Order', 'User name', 'WBS Elem.', 'Reference', 'Posting Date',
       'Quantity', 'Base Unit of Measure', 'Currency', 'Amount in LC',
       'Qty in Un. of Entry', 'Unit of Entry', 'Movement Type Text', 'POITEM',
       'Vendor Name', 'Matl Group', 'Acct Assignment Cat.',
       'Material Group Desc.', 'Description 2 for the material group', 'VC',
       'VN', 'QTY_1', 'UOM1_1', 'QTY_2', 'UOM1_2', 'Quantity.1', 'UOM',
       'Unit Price - Savings'],
      dtype='object')

In [ ]:
rayong_spend.columns.duplicated().sum()

0

In [ ]:
rayong_spend.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [ ]:
df_rayong_sap.columns.duplicated().sum()

0

In [ ]:
df_rayong_sap.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [ ]:
df_rayong_sap.loc[:, df_rayong_sap.columns.duplicated()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[268 rows x 0 columns]

In [ ]:
df_rayong_sap.columns

Index(['CoCd', 'Plant', 'Plant Name', 'Vendor', 'Material', 'Purchase Order',
       'PO Item No', 'Material Description', 'Storage Location',
       'Movement Type', 'Mvt Type Text', 'Material Document', 'Item.1',
       'Order', 'User name', 'WBS Elem.', 'Reference', 'Posting Date',
       'Quantity', 'Base Unit of Measure', 'Currency', 'Amount in LC',
       'Qty in Un. of Entry', 'Unit of Entry', 'Movement Type Text', 'POITEM',
       'Vendor Name', 'Matl Group', 'Acct Assignment Cat.',
       'Material Group Desc.', 'Description 2 for the material group', 'VC',
       'VN', 'QTY_1', 'UOM1_1', 'QTY_2', 'UOM1_2', 'Quantity.1', 'UOM',
       'Unit Price - Savings'],
      dtype='object')

In [ ]:
#rayong_spend.reset_index(drop=True, inplace=True)
#df_rayong_sap.reset_index(drop=True, inplace=True)

In [ ]:
df = pd.concat([rayong_spend,df_rayong_sap], keys=['A', 'B'], names=['Source', 'Row ID'], ignore_index=True)

In [ ]:
df.head()

,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Plant,...,Mvt Type Text,Item.1,WBS Elem.,Reference,POITEM,QTY_1,UOM1_1,QTY_2,UOM1_2,Quantity.1
0,2021.0,1.0,Indirect,Logistics,Logistics,0.0,Logistics,Logistics,NaN,4010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,GR goods receipt,1.0,NaN,NaN,450031724000010,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,GR goods receipt,1.0,NaN,NaN,450032397400010,NaN,NaN,14400.0,KG,14400.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,GR goods receipt,1.0,NaN,NaN,450032845500010,NaN,NaN,24080.0,KG,24080.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,GR goods receipt,1.0,NaN,NaN,450032788400010,NaN,NaN,24700.0,KG,24700.0

In [ ]:
df.columns

Index(['Year', 'Month', 'Report Table', 'Level 1', 'Level 2', 'UNSPSC',
       'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'Plant',
       'Material', 'Vendor', 'Purchase Order', 'PO Item No',
       'Material Description', 'Storage Location', 'Movement Type',
       'Movement Type Text', 'Material Document', 'Posting Date', 'Order',
       'Quantity', 'Base Unit of Measure', 'Currency', 'Amount in LC',
       'Qty in Un. of Entry', 'Unit of Entry', 'User name', 'Vendor Name',
       'Matl Group', 'Material Group Desc.',
       'Description 2 for the material group', 'Acct Assignment Cat.',
       'Plant Name', 'CP2', 'Amount in MYR', 'Period', 'Country',
       'Unit Cost in LC', 'VC', 'VN', 'Quantity2', 'UOM', 'Division', 'RW Cat',
       'Vendor Code1', 'Vendor Name1', 'Unit Price - Savings', 'CoCd',
       'Mvt Type Text', 'Item.1', 'WBS Elem.', 'Reference', 'POITEM', 'QTY_1',
       'UOM1_1', 'QTY_2', 'UOM1_2', 'Quantity.1'],
      dtype='object')

In [ ]:
dfm = df.iloc[1:,0:-10]

In [ ]:
dfm.columns

Index(['Year', 'Month', 'Report Table', 'Level 1', 'Level 2', 'UNSPSC',
       'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'Plant',
       'Material', 'Vendor', 'Purchase Order', 'PO Item No',
       'Material Description', 'Storage Location', 'Movement Type',
       'Movement Type Text', 'Material Document', 'Posting Date', 'Order',
       'Quantity', 'Base Unit of Measure', 'Currency', 'Amount in LC',
       'Qty in Un. of Entry', 'Unit of Entry', 'User name', 'Vendor Name',
       'Matl Group', 'Material Group Desc.',
       'Description 2 for the material group', 'Acct Assignment Cat.',
       'Plant Name', 'CP2', 'Amount in MYR', 'Period', 'Country',
       'Unit Cost in LC', 'VC', 'VN', 'Quantity2', 'UOM', 'Division', 'RW Cat',
       'Vendor Code1', 'Vendor Name1', 'Unit Price - Savings', 'CoCd'],
      dtype='object')

In [ ]:
dfm.head()

,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Plant,...,VC,VN,Quantity2,UOM,Division,RW Cat,Vendor Code1,Vendor Name1,Unit Price - Savings,CoCd
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4120.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,21.43,4120.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,7.36,4120.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,7.36,4120.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4120.0

In [ ]:
dfm.reset_index(inplace=True)

In [ ]:
dfm.head()

,index,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,...,VC,VN,Quantity2,UOM,Division,RW Cat,Vendor Code1,Vendor Name1,Unit Price - Savings,CoCd
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4120.0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,21.43,4120.0
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,7.36,4120.0
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,7.36,4120.0
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4120.0

In [ ]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 50 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   index                                 268 non-null    int64
 1   Year                                  0 non-null      float64
 2   Month                                 0 non-null      float64
 3   Report Table                          0 non-null      object
 4   Level 1                               0 non-null      object
 5   Level 2                               0 non-null      object
 6   UNSPSC                                0 non-null      float64
 7   Level 3                               0 non-null      object
 8   Material Group Desc Revised           0 non-null      object
 9   New Mtl Grp Key                       0 non-null      float64
 10  Plant                                 268 non-null    int64
 11  Material                              117 non-null    float64
 12  Vendor                                268 non-null    float64
 13  Purchase Order                        268 non-null    float64
 14  PO Item No                            268 non-null    object
 15  Material Description                  268 non-null    object
 16  Storage Location                      117 non-null    float64
 17  Movement Type                         268 non-null    float64
 18  Movement Type Text                    151 non-null    object
 19  Material Document                     268 non-null    float64
 20  Posting Date                          268 non-null    object
 21  Order                                 7 non-null      float64
 22  Quantity                              268 non-null    float64
 23  Base Unit of Measure                  117 non-null    object
 24  Currency                              268 non-null    object
 25  Amount in LC                          268 non-null    float64
 26  Qty in Un. of Entry                   268 non-null    float64
 27  Unit of Entry                         268 non-null    object
 28  User name                             268 non-null    object
 29  Vendor Name                           144 non-null    object
 30  Matl Group                            144 non-null    object
 31  Material Group Desc.                  144 non-null    object
 32  Description 2 for the material group  144 non-null    object
 33  Acct Assignment Cat.                  83 non-null     object
 34  Plant Name                            268 non-null    object
 35  CP2                                   0 non-null      object
 36  Amount in MYR                         0 non-null      float64
 37  Period                                0 non-null      float64
 38  Country                               0 non-null      object
 39  Unit Cost in LC                       0 non-null      float64
 40  VC                                    144 non-null    object
 41  VN                                    144 non-null    object
 42  Quantity2                             0 non-null      float64
 43  UOM                                   90 non-null     object
 44  Division                              0 non-null      float64
 45  RW Cat                                0 non-null      float64
 46  Vendor Code1                          0 non-null      float64
 47  Vendor Name1                          0 non-null      float64
 48  Unit Price - Savings                  268 non-null    float64
 49  CoCd                                  268 non-null    float64
dtypes: float64(24), int64(2), object(24)
memory usage: 104.8+ KB

In [ ]:
dfm['Posting Date'].value_counts().head()

2023-05-31    60
2023-05-18    34
2023-05-05    17
2023-05-08    17
2023-05-29    16
Name: Posting Date, dtype: int64

In [ ]:
dfm['Posting Date'] = pd.to_datetime(dfm['Posting Date'], format="%Y.%m.%d")

In [ ]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 50 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   index                                 268 non-null    int64
 1   Year                                  0 non-null      float64
 2   Month                                 0 non-null      float64
 3   Report Table                          0 non-null      object
 4   Level 1                               0 non-null      object
 5   Level 2                               0 non-null      object
 6   UNSPSC                                0 non-null      float64
 7   Level 3                               0 non-null      object
 8   Material Group Desc Revised           0 non-null      object
 9   New Mtl Grp Key                       0 non-null      float64
 10  Plant                                 268 non-null    int64
 11  Material                              117 non-null    float64
 12  Vendor                                268 non-null    float64
 13  Purchase Order                        268 non-null    float64
 14  PO Item No                            268 non-null    object
 15  Material Description                  268 non-null    object
 16  Storage Location                      117 non-null    float64
 17  Movement Type                         268 non-null    float64
 18  Movement Type Text                    151 non-null    object
 19  Material Document                     268 non-null    float64
 20  Posting Date                          268 non-null    datetime64[ns]
 21  Order                                 7 non-null      float64
 22  Quantity                              268 non-null    float64
 23  Base Unit of Measure                  117 non-null    object
 24  Currency                              268 non-null    object
 25  Amount in LC                          268 non-null    float64
 26  Qty in Un. of Entry                   268 non-null    float64
 27  Unit of Entry                         268 non-null    object
 28  User name                             268 non-null    object
 29  Vendor Name                           144 non-null    object
 30  Matl Group                            144 non-null    object
 31  Material Group Desc.                  144 non-null    object
 32  Description 2 for the material group  144 non-null    object
 33  Acct Assignment Cat.                  83 non-null     object
 34  Plant Name                            268 non-null    object
 35  CP2                                   0 non-null      object
 36  Amount in MYR                         0 non-null      float64
 37  Period                                0 non-null      float64
 38  Country                               0 non-null      object
 39  Unit Cost in LC                       0 non-null      float64
 40  VC                                    144 non-null    object
 41  VN                                    144 non-null    object
 42  Quantity2                             0 non-null      float64
 43  UOM                                   90 non-null     object
 44  Division                              0 non-null      float64
 45  RW Cat                                0 non-null      float64
 46  Vendor Code1                          0 non-null      float64
 47  Vendor Name1                          0 non-null      float64
 48  Unit Price - Savings                  268 non-null    float64
 49  CoCd                                  268 non-null    float64
dtypes: datetime64[ns](1), float64(24), int64(2), object(23)
memory usage: 104.8+ KB

In [ ]:
date = dfm['Posting Date'].head(1)

In [ ]:
date

0   2023-05-31
Name: Posting Date, dtype: datetime64[ns]

In [ ]:
curr_month = date.dt.month

In [ ]:
curr_month

0    5
Name: Posting Date, dtype: int64

In [ ]:
curr_month = curr_month[0]

In [ ]:
curr_month = curr_month.astype(str).zfill(2) #add leading ONE (1) zero

In [ ]:
curr_month

'05'

In [ ]:
curr_year = date.dt.year

In [ ]:
curr_year

0    2023
Name: Posting Date, dtype: int64

In [ ]:
curr_year = curr_year[0]

In [ ]:
curr_year = curr_year.astype(str)

In [ ]:
curr_year

'2023'

In [ ]:
dfm['Year'] = curr_year

In [ ]:
dfm['Year'].head()

0    2023
1    2023
2    2023
3    2023
4    2023
Name: Year, dtype: object

In [ ]:
dfm['Month'] = curr_month

In [ ]:
dfm['Month'].head()

0    05
1    05
2    05
3    05
4    05
Name: Month, dtype: object

In [ ]:
dfm.head(3)

,index,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,...,VC,VN,Quantity2,UOM,Division,RW Cat,Vendor Code1,Vendor Name1,Unit Price - Savings,CoCd
0,1,2023,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4120.0
1,2,2023,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,21.43,4120.0
2,3,2023,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,7.36,4120.0

In [ ]:
dfm.columns

Index(['index', 'Year', 'Month', 'Report Table', 'Level 1', 'Level 2',
       'UNSPSC', 'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key',
       'Plant', 'Material', 'Vendor', 'Purchase Order', 'PO Item No',
       'Material Description', 'Storage Location', 'Movement Type',
       'Movement Type Text', 'Material Document', 'Posting Date', 'Order',
       'Quantity', 'Base Unit of Measure', 'Currency', 'Amount in LC',
       'Qty in Un. of Entry', 'Unit of Entry', 'User name', 'Vendor Name',
       'Matl Group', 'Material Group Desc.',
       'Description 2 for the material group', 'Acct Assignment Cat.',
       'Plant Name', 'CP2', 'Amount in MYR', 'Period', 'Country',
       'Unit Cost in LC', 'VC', 'VN', 'Quantity2', 'UOM', 'Division', 'RW Cat',
       'Vendor Code1', 'Vendor Name1', 'Unit Price - Savings', 'CoCd'],
      dtype='object')

In [ ]:
dfm['Country'] = 'CH'

In [ ]:
dfm['Country']

0      CH
1      CH
2      CH
3      CH
4      CH
       ..
263    CH
264    CH
265    CH
266    CH
267    CH
Name: Country, Length: 268, dtype: object

In [ ]:
dfm.head()

,index,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,...,VC,VN,Quantity2,UOM,Division,RW Cat,Vendor Code1,Vendor Name1,Unit Price - Savings,CoCd
0,1,2023,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4120.0
1,2,2023,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,21.43,4120.0
2,3,2023,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,7.36,4120.0
3,4,2023,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KG,NaN,NaN,NaN,NaN,7.36,4120.0
4,5,2023,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4120.0

In [ ]:
dfm.isna().sum()

index                                     0
Year                                      0
Month                                     0
Report Table                            268
Level 1                                 268
Level 2                                 268
UNSPSC                                  268
Level 3                                 268
Material Group Desc Revised             268
New Mtl Grp Key                         268
Plant                                     0
Material                                151
Vendor                                    0
Purchase Order                            0
PO Item No                                0
Material Description                      0
Storage Location                        151
Movement Type                             0
Movement Type Text                      117
Material Document                         0
Posting Date                              0
Order                                   261
Quantity                                  0
Base Unit of Measure                    151
Currency                                  0
Amount in LC                              0
Qty in Un. of Entry                       0
Unit of Entry                             0
User name                                 0
Vendor Name                             124
Matl Group                              124
Material Group Desc.                    124
Description 2 for the material group    124
Acct Assignment Cat.                    185
Plant Name                                0
CP2                                     268
Amount in MYR                           268
Period                                  268
Country                                   0
Unit Cost in LC                         268
VC                                      124
VN                                      124
Quantity2                               268
UOM                                     178
Division                                268
RW Cat                                  268
Vendor Code1                            268
Vendor Name1                            268
Unit Price - Savings                      0
CoCd                                      0
dtype: int64

In [ ]:
#FIRST Dict

In [ ]:
intercompany.head(3)

,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,POrg,...,Long text,PayT,WBS/Account Assignment,YM,Unit Cost in MYR,Quantity in KG,Obsolete Material,Logistics,Division,Unit Cost in MYR2
0,2018,12,Intercompany,Intercompany,Intercompany,NaN,Intercompany,Intercompany,24820.0,3000.0,...,Goods receipt,2000,NaN,201812.0,2.850000,NaN,NaN,NaN,Performance Elastomers,0.60000
1,2018,12,Intercompany,Intercompany,Intercompany,NaN,Intercompany,Intercompany,29055.0,3000.0,...,Goods receipt,2000,NaN,201812.0,2.664845,NaN,NaN,NaN,Performance Elastomers,0.56102
2,2018,12,Intercompany,Intercompany,Intercompany,NaN,Intercompany,Intercompany,14557.0,3000.0,...,Goods receipt,2000,NaN,201812.0,11.880000,NaN,NaN,NaN,Performance Elastomers,10.80000

In [ ]:
intercompany.columns

Index(['Year', 'Month', 'Report Table', 'Level 1', 'Level 2', 'UNSPSC',
       'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'POrg',
       'Plnt', 'Vendor', 'Vendor Name', 'Matl Group', 'Material Group Desc.',
       'Material', 'Material Description', ' Item', '       Quantity', 'OUn',
       'L.cur', '   Amount in LC', 'Purch.Doc.', 'Pstng Date', 'OUn2',
       '       PO Quantity', 'Crcy', '      Gross value', 'Doc. Date',
       'Mat. Doc.', 'MvT', 'Long text', 'PayT', 'WBS/Account Assignment', 'YM',
       'Unit Cost in MYR', 'Quantity in KG', 'Obsolete Material', 'Logistics',
       'Division', 'Unit Cost in MYR2'],
      dtype='object')

In [ ]:
intercompany.columns = intercompany.columns.str.strip()

In [ ]:
intercompany.columns

Index(['Year', 'Month', 'Report Table', 'Level 1', 'Level 2', 'UNSPSC',
       'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'POrg',
       'Plnt', 'Vendor', 'Vendor Name', 'Matl Group', 'Material Group Desc.',
       'Material', 'Material Description', 'Item', 'Quantity', 'OUn', 'L.cur',
       'Amount in LC', 'Purch.Doc.', 'Pstng Date', 'OUn2', 'PO Quantity',
       'Crcy', 'Gross value', 'Doc. Date', 'Mat. Doc.', 'MvT', 'Long text',
       'PayT', 'WBS/Account Assignment', 'YM', 'Unit Cost in MYR',
       'Quantity in KG', 'Obsolete Material', 'Logistics', 'Division',
       'Unit Cost in MYR2'],
      dtype='object')

In [ ]:
intercompany_i = intercompany.set_index('Vendor')

In [ ]:
intercompany_i.head(3)

,Year,Month,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,POrg,...,Long text,PayT,WBS/Account Assignment,YM,Unit Cost in MYR,Quantity in KG,Obsolete Material,Logistics,Division,Unit Cost in MYR2
Vendor,,,,,,,,,,,,,,,,,,,,,
24820,2018,12,Intercompany,Intercompany,Intercompany,NaN,Intercompany,Intercompany,24820.0,3000.0,...,Goods receipt,2000,NaN,201812.0,2.850000,NaN,NaN,NaN,Performance Elastomers,0.60000
29055,2018,12,Intercompany,Intercompany,Intercompany,NaN,Intercompany,Intercompany,29055.0,3000.0,...,Goods receipt,2000,NaN,201812.0,2.664845,NaN,NaN,NaN,Performance Elastomers,0.56102
14557,2018,12,Intercompany,Intercompany,Intercompany,NaN,Intercompany,Intercompany,14557.0,3000.0,...,Goods receipt,2000,NaN,201812.0,11.880000,NaN,NaN,NaN,Performance Elastomers,10.80000

In [ ]:
intercompany_i_dict = intercompany_i.to_dict()

In [ ]:
intercompany_i_dict.keys()

dict_keys(['Year', 'Month', 'Report Table', 'Level 1', 'Level 2', 'UNSPSC', 'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'POrg', 'Plnt', 'Vendor Name', 'Matl Group', 'Material Group Desc.', 'Material', 'Material Description', 'Item', 'Quantity', 'OUn', 'L.cur', 'Amount in LC', 'Purch.Doc.', 'Pstng Date', 'OUn2', 'PO Quantity', 'Crcy', 'Gross value', 'Doc. Date', 'Mat. Doc.', 'MvT', 'Long text', 'PayT', 'WBS/Account Assignment', 'YM', 'Unit Cost in MYR', 'Quantity in KG', 'Obsolete Material', 'Logistics', 'Division', 'Unit Cost in MYR2'])

In [ ]:
report_table.head(3)

  Report Table    Level 1
0     Indirect       Opex
1     Indirect      Capex
2     Indirect  Packaging

In [ ]:
report_table_i = report_table.set_index('Level 1')

In [ ]:
report_table_i.head()

                        Report Table
Level 1
Opex                        Indirect
Capex                       Indirect
Packaging                   Indirect
Logistics                   Indirect
Strategic Raw Materials       Direct

In [ ]:
report_table_i_dict = report_table_i.to_dict()

In [ ]:
report_table_i_dict.keys()

dict_keys(['Report Table'])

In [ ]:
acc_assignment.head(3)

,Account Assignment,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key
0,Z,Indirect,Capex,Others,NaN,Others,Others,NaN

In [ ]:
acc_assignment_i = acc_assignment.set_index('Account Assignment')

In [ ]:
acc_assignment_i.head()

,Report Table,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key
Account Assignment,,,,,,,
Z,Indirect,Capex,Others,NaN,Others,Others,NaN

In [ ]:
acc_assignment_i_dict = acc_assignment_i.to_dict()

In [ ]:
acc_assignment_i_dict.keys()

dict_keys(['Report Table', 'Level 1', 'Level 2', 'UNSPSC', 'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key'])

In [ ]:
wmaterial.head(3)

,Material Description,Material,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Division,Region
0,PARA CRESOL BONDED,105403.0,Strategic Raw Materials,Strategic Raw Materials,NaN,Monomer,Raw Materials - Monomer,RAW0260,Performance Elastomers,Ningbo
1,PARA CRESOL,104967.0,Strategic Raw Materials,Strategic Raw Materials,NaN,Monomer,Raw Materials - Monomer,RAW0260,Performance Elastomers,Ningbo
2,ISOBUTYLENE,104970.0,Strategic Raw Materials,Strategic Raw Materials,NaN,Monomer,Raw Materials - Monomer,RAW0260,Performance Elastomers,Ningbo

In [ ]:
wmaterial.columns

Index(['Material Description', 'Material', 'Level 1', 'Level 2', 'UNSPSC',
       'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'Division',
       'Region'],
      dtype='object')

In [ ]:
wmaterial.loc[wmaterial['Material'].isnull(),:]

,Material Description,Material,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Division,Region
759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,`,NaN,NaN

In [ ]:
wmaterial2 = wmaterial.loc[wmaterial['Material'].notnull(),:]

In [ ]:
wmaterial_i = wmaterial2.set_index('Material')

In [ ]:
wmaterial_i.head(3)

,Material Description,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key,Division,Region
Material,,,,,,,,,
105403.0,PARA CRESOL BONDED,Strategic Raw Materials,Strategic Raw Materials,NaN,Monomer,Raw Materials - Monomer,RAW0260,Performance Elastomers,Ningbo
104967.0,PARA CRESOL,Strategic Raw Materials,Strategic Raw Materials,NaN,Monomer,Raw Materials - Monomer,RAW0260,Performance Elastomers,Ningbo
104970.0,ISOBUTYLENE,Strategic Raw Materials,Strategic Raw Materials,NaN,Monomer,Raw Materials - Monomer,RAW0260,Performance Elastomers,Ningbo

In [ ]:
wmaterial_i_dict = wmaterial_i.to_dict()

In [ ]:
wmaterial_i_dict.keys()

dict_keys(['Material Description', 'Level 1', 'Level 2', 'UNSPSC', 'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key', 'Division', 'Region'])

In [ ]:
nomaterial.head(3)

,New Mtl Grp Key,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised
0,MRO0100,Opex,MRO,NaN,Electrical,MRO - Electrical & Lighting
1,MRO0130,Opex,MRO,NaN,Hardware,"MRO - Hardware, Fasteners, Gaskets &Construction"
2,MRO0150,Opex,MRO,NaN,Instruments,"MRO - Instrumentation-Process Control, Inspect..."

In [ ]:
nomaterial_i = nomaterial.set_index('New Mtl Grp Key')

In [ ]:
nomaterial_i.head()

,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised
New Mtl Grp Key,,,,,
MRO0100,Opex,MRO,NaN,Electrical,MRO - Electrical & Lighting
MRO0130,Opex,MRO,NaN,Hardware,"MRO - Hardware, Fasteners, Gaskets &Construction"
MRO0150,Opex,MRO,NaN,Instruments,"MRO - Instrumentation-Process Control, Inspect..."
MRO0160,Opex,MRO,NaN,Chemicals,"MRO - Chemicals, Gases, Fuel, Lubricants, Pain..."
MRO0170,Opex,MRO,NaN,Mechanical,"MRO - Power Transmission, Motors, Belts, Beari..."

In [ ]:
nomaterial_i_dict = nomaterial_i.to_dict()

In [ ]:
nomaterial_i_dict.keys()

dict_keys(['Level 1', 'Level 2', 'UNSPSC', 'Level 3', 'Material Group Desc Revised'])

In [ ]:
th_logistic.head()

,Material Description,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key
0,Trucking,Logistics,Logistics,NaN,Logistics,Logistics,NaN
1,Marine,Logistics,Logistics,NaN,Logistics,Logistics,NaN
2,Small Package,Logistics,Logistics,NaN,Logistics,Logistics,NaN

In [ ]:
th_logistic_i = th_logistic.set_index('Material Description')

In [ ]:
th_logistic_i.head()

,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,New Mtl Grp Key
Material Description,,,,,,
Trucking,Logistics,Logistics,NaN,Logistics,Logistics,NaN
Marine,Logistics,Logistics,NaN,Logistics,Logistics,NaN
Small Package,Logistics,Logistics,NaN,Logistics,Logistics,NaN

In [ ]:
th_logistic_i_dict = th_logistic_i.to_dict()

In [ ]:
th_logistic_i_dict.keys()

dict_keys(['Level 1', 'Level 2', 'UNSPSC', 'Level 3', 'Material Group Desc Revised', 'New Mtl Grp Key'])

In [ ]:
cn_logistic.head(3)

,Vendor,Vendor Key,Material,Plant,Plant Key,Vendor Region,Level 1,Level 2,UNSPSC,Level 3,...,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00
0,UTC(SHANGHAI) INTERNATIONAL LOGISTI,113691,Trucking&Marine,Caojing Plant,4120,China,Logistics,Logistics,NaN,Logistics,...,162551.938000,250116.316000,267547.485500,215642.948000,237932.129000,954006.727000,562634.614500,136968.77,304788.464,1.407711e+06
1,Shanghai Safe-Transport Chemical Logistics Co...,110828,Bulk,Caojing Plant,4120,China,Logistics,Logistics,NaN,Logistics,...,53211.009174,39908.256881,13302.752294,26605.504587,26605.504587,26605.504587,NaN,NaN,NaN,2.844037e+04
2,Shanghai Stolt-Nielsen Logistics Li,111560,Bulk,Caojing Plant,4120,China,Logistics,Logistics,NaN,Logistics,...,244056.603774,236698.113208,252924.528302,155169.811321,140283.018868,191594.339623,72566.037736,272876.46,164349.950,2.655660e+05

In [ ]:
cn_logistic.columns

Index([                     'Vendor',                  'Vendor Key',
                          'Material',                       'Plant',
                         'Plant Key',               'Vendor Region',
                           'Level 1',                     'Level 2',
                            'UNSPSC',                     'Level 3',
       'Material Group Desc Revised',              'Order Currency',
                 2018-01-01 00:00:00,           2018-02-01 00:00:00,
                 2018-03-01 00:00:00,           2018-04-01 00:00:00,
                 2018-05-01 00:00:00,           2018-06-01 00:00:00,
                 2018-07-01 00:00:00,           2018-08-01 00:00:00,
                 2018-09-01 00:00:00,           2018-10-01 00:00:00,
                 2018-11-01 00:00:00,           2018-12-01 00:00:00,
                 2019-01-01 00:00:00,           2019-02-01 00:00:00,
                 2019-03-01 00:00:00,           2019-04-01 00:00:00,
                 2019-05-01 00:00:00,           2019-06-01 00:00:00,
                 2019-07-01 00:00:00,           2019-08-01 00:00:00,
                 2019-09-01 00:00:00,           2019-10-01 00:00:00,
                 2019-11-01 00:00:00,           2019-12-01 00:00:00,
                 2020-01-01 00:00:00,           2020-02-01 00:00:00,
                 2020-03-01 00:00:00,           2020-04-01 00:00:00,
                 2020-05-01 00:00:00,           2020-06-01 00:00:00,
                 2020-07-01 00:00:00,           2020-08-01 00:00:00,
                 2020-09-01 00:00:00,           2020-10-01 00:00:00,
                 2020-11-01 00:00:00,           2020-12-01 00:00:00,
                 2021-01-31 00:00:00,           2021-02-28 00:00:00,
                 2021-03-31 00:00:00,           2021-04-30 00:00:00,
                 2021-05-01 00:00:00,           2021-06-01 00:00:00,
                 2021-07-01 00:00:00,           2021-08-01 00:00:00,
                 2021-09-01 00:00:00,           2021-10-01 00:00:00,
                 2021-11-01 00:00:00,           2021-12-01 00:00:00,
                 2022-01-01 00:00:00,           2022-02-01 00:00:00,
                 2022-03-01 00:00:00,           2022-04-01 00:00:00,
                 2022-05-01 00:00:00,           2022-06-01 00:00:00,
                 2022-07-01 00:00:00],
      dtype='object')

In [ ]:
cn_logistic_i = cn_logistic.set_index('Material')

In [ ]:
cn_logistic_i.head(3)

,Vendor,Vendor Key,Plant,Plant Key,Vendor Region,Level 1,Level 2,UNSPSC,Level 3,Material Group Desc Revised,...,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00,2022-02-01 00:00:00,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00
Material,,,,,,,,,,,,,,,,,,,,,
Trucking&Marine,UTC(SHANGHAI) INTERNATIONAL LOGISTI,113691,Caojing Plant,4120,China,Logistics,Logistics,NaN,Logistics,Logistics,...,162551.938000,250116.316000,267547.485500,215642.948000,237932.129000,954006.727000,562634.614500,136968.77,304788.464,1.407711e+06
Bulk,Shanghai Safe-Transport Chemical Logistics Co...,110828,Caojing Plant,4120,China,Logistics,Logistics,NaN,Logistics,Logistics,...,53211.009174,39908.256881,13302.752294,26605.504587,26605.504587,26605.504587,NaN,NaN,NaN,2.844037e+04
Bulk,Shanghai Stolt-Nielsen Logistics Li,111560,Caojing Plant,4120,China,Logistics,Logistics,NaN,Logistics,Logistics,...,244056.603774,236698.113208,252924.528302,155169.811321,140283.018868,191594.339623,72566.037736,272876.46,164349.950,2.655660e+05

In [ ]:
cn_logistic_i_dict = cn_logistic_i.to_dict()

In [ ]:
cn_logistic_i_dict.keys()

dict_keys(['Vendor', 'Vendor Key', 'Plant', 'Plant Key', 'Vendor Region', 'Level 1', 'Level 2', 'UNSPSC', 'Level 3', 'Material Group Desc Revised', 'Order Currency', datetime.datetime(2018, 1, 1, 0, 0), datetime.datetime(2018, 2, 1, 0, 0), datetime.datetime(2018, 3, 1, 0, 0), datetime.datetime(2018, 4, 1, 0, 0), datetime.datetime(2018, 5, 1, 0, 0), datetime.datetime(2018, 6, 1, 0, 0), datetime.datetime(2018, 7, 1, 0, 0), datetime.datetime(2018, 8, 1, 0, 0), datetime.datetime(2018, 9, 1, 0, 0), datetime.datetime(2018, 10, 1, 0, 0), datetime.datetime(2018, 11, 1, 0, 0), datetime.datetime(2018, 12, 1, 0, 0), datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2019, 2, 1, 0, 0), datetime.datetime(2019, 3, 1, 0, 0), datetime.datetime(2019, 4, 1, 0, 0), datetime.datetime(2019, 5, 1, 0, 0), datetime.datetime(2019, 6, 1, 0, 0), datetime.datetime(2019, 7, 1, 0, 0), datetime.datetime(2019, 8, 1, 0, 0), datetime.datetime(2019, 9, 1, 0, 0), datetime.datetime(2019, 10, 1, 0, 0), datetime.datetime(2019, 11, 1, 0, 0), datetime.datetime(2019, 12, 1, 0, 0), datetime.datetime(2020, 1, 1, 0, 0), datetime.datetime(2020, 2, 1, 0, 0), datetime.datetime(2020, 3, 1, 0, 0), datetime.datetime(2020, 4, 1, 0, 0), datetime.datetime(2020, 5, 1, 0, 0), datetime.datetime(2020, 6, 1, 0, 0), datetime.datetime(2020, 7, 1, 0, 0), datetime.datetime(2020, 8, 1, 0, 0), datetime.datetime(2020, 9, 1, 0, 0), datetime.datetime(2020, 10, 1, 0, 0), datetime.datetime(2020, 11, 1, 0, 0), datetime.datetime(2020, 12, 1, 0, 0), datetime.datetime(2021, 1, 31, 0, 0), datetime.datetime(2021, 2, 28, 0, 0), datetime.datetime(2021, 3, 31, 0, 0), datetime.datetime(2021, 4, 30, 0, 0), datetime.datetime(2021, 5, 1, 0, 0), datetime.datetime(2021, 6, 1, 0, 0), datetime.datetime(2021, 7, 1, 0, 0), datetime.datetime(2021, 8, 1, 0, 0), datetime.datetime(2021, 9, 1, 0, 0), datetime.datetime(2021, 10, 1, 0, 0), datetime.datetime(2021, 11, 1, 0, 0), datetime.datetime(2021, 12, 1, 0, 0), datetime.datetime(2022, 1, 1, 0, 0), datetime.datetime(2022, 2, 1, 0, 0), datetime.datetime(2022, 3, 1, 0, 0), datetime.datetime(2022, 4, 1, 0, 0), datetime.datetime(2022, 5, 1, 0, 0), datetime.datetime(2022, 6, 1, 0, 0), datetime.datetime(2022, 7, 1, 0, 0)])

In [ ]:
dfm.isna().sum()

index                                     0
Year                                      0
Month                                     0
Report Table                            268
Level 1                                 268
Level 2                                 268
UNSPSC                                  268
Level 3                                 268
Material Group Desc Revised             268
New Mtl Grp Key                         268
Plant                                     0
Material                                151
Vendor                                    0
Purchase Order                            0
PO Item No                                0
Material Description                      0
Storage Location                        151
Movement Type                             0
Movement Type Text                      117
Material Document                         0
Posting Date                              0
Order                                   261
Quantity                                  0
Base Unit of Measure                    151
Currency                                  0
Amount in LC                              0
Qty in Un. of Entry                       0
Unit of Entry                             0
User name                                 0
Vendor Name                             124
Matl Group                              124
Material Group Desc.                    124
Description 2 for the material group    124
Acct Assignment Cat.                    185
Plant Name                                0
CP2                                     268
Amount in MYR                           268
Period                                  268
Country                                   0
Unit Cost in LC                         268
VC                                      124
VN                                      124
Quantity2                               268
UOM                                     178
Division                                268
RW Cat                                  268
Vendor Code1                            268
Vendor Name1                            268
Unit Price - Savings                      0
CoCd                                      0
dtype: int64

In [ ]:
#ZERO Dict

In [ ]:
dfm['Level 1'] = dfm['Acct Assignment Cat.'].map(acc_assignment_i_dict['Level 1'])
#df_lapasar['Report Table'] = df_lapasar['Vendor'].map(intercompany_i_dict['Report Table'])
#df_lapasar['Level 2'] = df_lapasar['Vendor'].map(intercompany_i_dict['Level 2'])
#df_lapasar['UNSPSC'] = df_lapasar['Vendor'].map(intercompany_i_dict['UNSPSC'])
#df_lapasar['Level 3'] = df_lapasar['Vendor'].map(intercompany_i_dict['Level 3'])
#df_lapasar['Material Group Desc Revised'] = df_lapasar['Vendor'].map(intercompany_i_dict['Material Group Desc Revised'])

In [ ]:
#FIRST Dict

In [ ]:
dfm.loc[dfm['Level 1'].isna(), 'Level 1'] = dfm['Vendor'].map(intercompany_i_dict['Level 1'])
dfm['Report Table'] = dfm['Vendor'].map(intercompany_i_dict['Report Table'])
dfm['Level 2'] = dfm['Vendor'].map(intercompany_i_dict['Level 2'])
dfm['UNSPSC'] = dfm['Vendor'].map(intercompany_i_dict['UNSPSC'])
dfm['Level 3'] = dfm['Vendor'].map(intercompany_i_dict['Level 3'])
dfm['Material Group Desc Revised'] = dfm['Vendor'].map(intercompany_i_dict['Material Group Desc Revised'])

In [ ]:
#SECOND Dict

In [ ]:
wmaterial_i_dict['Level 1']

{105403.0: 'Strategic Raw Materials',
 104967.0: 'Strategic Raw Materials',
 104970.0: 'Strategic Raw Materials',
 104969.0: 'Strategic Raw Materials',
 102071.0: 'Functional Additive',
 105404.0: 'Strategic Raw Materials',
 104917.0: 'Functional Additive',
 104926.0: 'Functional Additive',
 100666.0: 'Functional Additive',
 107001.0: 'Functional Additive',
 100100.0: 'Strategic Raw Materials',
 100174.0: 'Strategic Raw Materials',
 100107.0: 'Strategic Raw Materials',
 105418.0: 'Strategic Raw Materials',
 104639.0: 'Functional Additive',
 100141.0: 'Strategic Raw Materials',
 100227.0: 'Functional Additive',
 100186.0: 'Strategic Raw Materials',
 105272.0: 'Functional Additive',
 105264.0: 'Functional Additive',
 100202.0: 'Strategic Raw Materials',
 105440.0: 'Functional Additive',
 106335.0: 'Functional Additive',
 106072.0: 'Functional Additive',
 100130.0: 'Functional Additive',
 104627.0: 'Functional Additive',
 105453.0: 'Functional Additive',
 100169.0: 'Functional Additive',
 105454.0: 'Functional Additive',
 104628.0: 'Functional Additive',
 100201.0: 'Functional Additive',
 100214.0: 'Functional Additive',
 104948.0: 'Functional Additive',
 105265.0: 'Functional Additive',
 100127.0: 'Functional Additive',
 100216.0: 'Functional Additive',
 105287.0: 'Functional Additive',
 100211.0: 'Functional Additive',
 100181.0: 'Functional Additive',
 100128.0: 'Functional Additive',
 105286.0: 'Functional Additive',
 100190.0: 'Functional Additive',
 105492.0: 'Functional Additive',
 100182.0: 'Functional Additive',
 100550.0: 'Strategic Raw Materials',
 106970.0: 'Functional Additive',
 106169.0: 'Functional Additive',
 100171.0: 'Functional Additive',
 100726.0: 'Functional Additive',
 105745.0: 'Functional Additive',
 106484.0: 'Functional Additive',
 105414.0: 'Functional Additive',
 103182.0: 'Functional Additive',
 105070.0: 'Functional Additive',
 103601.0: 'Functional Additive',
 101446.0: 'Functional Additive',
 105746.0: 'Functional Additive',
 101448.0: 'Functional Additive',
 200240.0: 'Packaging',
 104892.0: 'Functional Additive',
 104893.0: 'Functional Additive',
 101457.0: 'Functional Additive',
 101610.0: 'Functional Additive',
 103002.0: 'Functional Additive',
 103280.0: 'Functional Additive',
 103190.0: 'Functional Additive',
 103191.0: 'Functional Additive',
 106233.0: 'Functional Additive',
 601590.0: 'Opex',
 601583.0: 'Opex',
 601591.0: 'Opex',
 611830.0: 'Opex',
 103003.0: 'Functional Additive',
 105119.0: 'Functional Additive',
 101644.0: 'Functional Additive',
 600194.0: 'Opex',
 600203.0: 'Opex',
 600204.0: 'Opex',
 600205.0: 'Opex',
 602444.0: 'Opex',
 600210.0: 'Opex',
 600213.0: 'Opex',
 600214.0: 'Opex',
 600160.0: 'Opex',
 101083.0: 'Functional Additive',
 602426.0: 'Opex',
 600158.0: 'Opex',
 600298.0: 'Opex',
 600293.0: 'Opex',
 600312.0: 'Opex',
 106001.0: 'Functional Additive',
 611704.0: 'Opex',
 611703.0: 'Opex',
 103000.0: 'Functional Additive',
 107008.0: 'Functional Additive',
 203212.0: 'Packaging',
 602324.0: 'Opex',
 602325.0: 'Opex',
 600793.0: 'Opex',
 101508.0: 'Functional Additive',
 600770.0: 'Opex',
 101029.0: 'Functional Additive',
 103185.0: 'Functional Additive',
 103621.0: 'Functional Additive',
 103559.0: 'Functional Additive',
 105901.0: 'Functional Additive',
 602232.0: 'Opex',
 602230.0: 'Opex',
 600542.0: 'Opex',
 600348.0: 'Opex',
 600349.0: 'Opex',
 611710.0: 'Opex',
 600347.0: 'Opex',
 600354.0: 'Opex',
 202767.0: 'Packaging',
 201310.0: 'Packaging',
 201311.0: 'Packaging',
 202769.0: 'Packaging',
 203425.0: 'Packaging',
 202770.0: 'Packaging',
 103516.0: 'Functional Additive',
 105278.0: 'Functional Additive',
 103393.0: 'Functional Additive',
 101175.0: 'Functional Additive',
 105655.0: 'Functional Additive',
 106107.0: 'Functional Additive',
 611790.0: 'Opex',
 101620.0: 'Functional Additive',
 106663.0: 'Functional Additive',
 105503.0: 'Functional Additive',
 106673.0: 'Functional Additive',
 102274.0: 'Functional Additive',
 612344.0: 'Opex',
 103605.0: 'Functional Additive',
 103606.0: 'Functional Additive',
 600791.0: 'Opex',
 611654.0: 'Opex',
 602157.0: 'Opex',
 601091.0: 'Opex',
 202827.0: 'Packaging',
 202935.0: 'Packaging',
 600589.0: 'Opex',
 613639.0: 'Opex',
 103628.0: 'Functional Additive',
 103009.0: 'Functional Additive',
 103008.0: 'Functional Additive',
 103010.0: 'Functional Additive',
 601330.0: 'Opex',
 601299.0: 'Opex',
 613593.0: 'Opex',
 601181.0: 'Opex',
 105720.0: 'Functional Additive',
 106102.0: 'Functional Additive',
 105743.0: 'Functional Additive',
 600821.0: 'Opex',
 600818.0: 'Opex',
 600834.0: 'Opex',
 600830.0: 'Opex',
 600840.0: 'Opex',
 600838.0: 'Opex',
 600846.0: 'Opex',
 600856.0: 'Opex',
 600863.0: 'Opex',
 600867.0: 'Opex',
 611788.0: 'Opex',
 612725.0: 'Opex',
 102009.0: 'Functional Additive',
 611263.0: 'Opex',
 601702.0: 'Opex',
 601407.0: 'Opex',
 600597.0: 'Opex',
 104839.0: 'Functional Additive',
 103457.0: 'Functional Additive',
 100242.0: 'Functional Additive',
 101616.0: 'Functional Additive',
 102253.0: 'Functional Additive',
 602449.0: 'Opex',
 601154.0: 'Opex',
 602167.0: 'Opex',
 602127.0: 'Opex',
 101646.0: 'Functional Additive',
 103011.0: 'Functional Additive',
 103012.0: 'Functional Additive',
 106011.0: 'Functional Additive',
 105108.0: 'Functional Additive',
 106010.0: 'Functional Additive',
 105109.0: 'Functional Additive',
 106597.0: 'Functional Additive',
 106599.0: 'Functional Additive',
 106620.0: 'Functional Additive',
 106598.0: 'Functional Additive',
 201370.0: 'Packaging',
 600621.0: 'Opex',
 104838.0: 'Functional Additive',
 105283.0: 'Functional Additive',
 103049.0: 'Functional Additive',
 103456.0: 'Functional Additive',
 601483.0: 'Opex',
 601484.0: 'Opex',
 102021.0: 'Functional Additive',
 101035.0: 'Functional Additive',
 103551.0: 'Functional Additive',
 602072.0: 'Opex',
 602074.0: 'Opex',
 106121.0: 'Functional Additive',
 103630.0: 'Functional Additive',
 103629.0: 'Functional Additive',
 103634.0: 'Functional Additive',
 106212.0: 'Functional Additive',
 601982.0: 'Opex',
 601981.0: 'Opex',
 105753.0: 'Functional Additive',
 105462.0: 'Functional Additive',
 601878.0: 'Opex',
 601818.0: 'Opex',
 201394.0: 'Packaging',
 201294.0: 'Packaging',
 203475.0: 'Packaging',
 203257.0: 'Packaging',
 202946.0: 'Packaging',
 201341.0: 'Packaging',
 203056.0: 'Packaging',
 201286.0: 'Packaging',
 201287.0: 'Packaging',
 201299.0: 'Packaging',
 203057.0: 'Packaging',
 201372.0: 'Packaging',
 203419.0: 'Packaging',
 202716.0: 'Packaging',
 202714.0: 'Packaging',
 202858.0: 'Packaging',
 201109.0: 'Packaging',
 203214.0: 'Packaging',
 202938.0: 'Packaging',
 201245.0: 'Packaging',
 202875.0: 'Packaging',
 201249.0: 'Packaging',
 203210.0: 'Packaging',
 202905.0: 'Packaging',
 202671.0: 'Packaging',
 202670.0: 'Packaging',
 201196.0: 'Packaging',
 202851.0: 'Packaging',
 202560.0: 'Packaging',
 201242.0: 'Packaging',
 201283.0: 'Packaging',
 201148.0: 'Packaging',
 201181.0: 'Packaging',
 201206.0: 'Packaging',
 201188.0: 'Packaging',
 201179.0: 'Packaging',
 201208.0: 'Packaging',
 201189.0: 'Packaging',
 201215.0: 'Packaging',
 202561.0: 'Packaging',
 201231.0: 'Packaging',
 202826.0: 'Packaging',
 202895.0: 'Packaging',
 202896.0: 'Packaging',
 203483.0: 'Packaging',
 202897.0: 'Packaging',
 202898.0: 'Packaging',
 201142.0: 'Packaging',
 201168.0: 'Packaging',
 201154.0: 'Packaging',
 201143.0: 'Packaging',
 201152.0: 'Packaging',
 201169.0: 'Packaging',
 201218.0: 'Packaging',
 201163.0: 'Packaging',
 201166.0: 'Packaging',
 201151.0: 'Packaging',
 201344.0: 'Packaging',
 201229.0: 'Packaging',
 201149.0: 'Packaging',
 201220.0: 'Packaging',
 201201.0: 'Packaging',
 201255.0: 'Packaging',
 202680.0: 'Packaging',
 201236.0: 'Packaging',
 201276.0: 'Packaging',
 203400.0: 'Packaging',
 201306.0: 'Packaging',
 201330.0: 'Packaging',
 201331.0: 'Packaging',
 201308.0: 'Packaging',
 203235.0: 'Packaging',
 202846.0: 'Packaging',
 201314.0: 'Packaging',
 203236.0: 'Packaging',
 202672.0: 'Packaging',
 103192.0: 'Functional Additive',
 105361.0: 'Functional Additive',
 201325.0: 'Packaging',
 201324.0: 'Packaging',
 201323.0: 'Packaging',
 201327.0: 'Packaging',
 202541.0: 'Packaging',
 202540.0: 'Packaging',
 105295.0: 'Functional Additive',
 104834.0: 'Functional Additive',
 103614.0: 'Functional Additive',
 103625.0: 'Functional Additive',
 103611.0: 'Functional Additive',
 106493.0: 'Functional Additive',
 103131.0: 'Functional Additive',
 103607.0: 'Functional Additive',
 103612.0: 'Functional Additive',
 103615.0: 'Functional Additive',
 103608.0: 'Functional Additive',
 106300.0: 'Functional Additive',
 103610.0: 'Functional Additive',
 103616.0: 'Functional Additive',
 103909.0: 'Functional Additive',
 104723.0: 'Functional Additive',
 103204.0: 'Functional Additive',
 602186.0: 'Opex',
 103836.0: 'Functional Additive',
 601189.0: 'Opex',
 601188.0: 'Opex',
 601192.0: 'Opex',
 601193.0: 'Opex',
 600555.0: 'Opex',
 103287.0: 'Functional Additive',
 201387.0: 'Packaging',
 103188.0: 'Functional Additive',
 103186.0: 'Functional Additive',
 601607.0: 'Opex',
 601606.0: 'Opex',
 602450.0: 'Opex',
 601609.0: 'Opex',
 602455.0: 'Opex',
 601616.0: 'Opex',
 601617.0: 'Opex',
 601621.0: 'Opex',
 601619.0: 'Opex',
 601629.0: 'Opex',
 601627.0: 'Opex',
 601628.0: 'Opex',
 107039.0: 'Functional Additive',
 202587.0: 'Packaging',
 601118.0: 'Opex',
 601116.0: 'Opex',
 105725.0: 'Functional Additive',
 105726.0: 'Functional Additive',
 105728.0: 'Functional Additive',
 105742.0: 'Functional Additive',
 105730.0: 'Functional Additive',
 105564.0: 'Functional Additive',
 103175.0: 'Functional Additive',
 103172.0: 'Functional Additive',
 103179.0: 'Functional Additive',
 104671.0: 'Functional Additive',
 105303.0: 'Functional Additive',
 104762.0: 'Functional Additive',
 104749.0: 'Functional Additive',
 103384.0: 'Functional Additive',
 103183.0: 'Functional Additive',
 103901.0: 'Functional Additive',
 104724.0: 'Functional Additive',
 103381.0: 'Functional Additive',
 105562.0: 'Functional Additive',
 601696.0: 'Opex',
 601695.0: 'Opex',
 602204.0: 'Opex',
 103806.0: 'Functional Additive',
 103663.0: 'Functional Additive',
 107033.0: 'Functional Additive',
 104682.0: 'Functional Additive',
 103780.0: 'Functional Additive',
 103790.0: 'Functional Additive',
 103819.0: 'Functional Additive',
 107034.0: 'Functional Additive',
 105021.0: 'Functional Additive',
 103797.0: 'Functional Additive',
 103798.0: 'Functional Additive',
 105523.0: 'Functional Additive',
 105524.0: 'Functional Additive',
 105525.0: 'Functional Additive',
 105558.0: 'Functional Additive',
 105526.0: 'Functional Additive',
 105527.0: 'Functional Additive',
 105528.0: 'Functional Additive',
 105529.0: 'Functional Additive',
 105203.0: 'Functional Additive',
 105530.0: 'Functional Additive',
 103781.0: 'Functional Additive',
 106482.0: 'Functional Additive',
 105822.0: 'Functional Additive',
 103815.0: 'Functional Additive',
 105532.0: 'Functional Additive',
 105533.0: 'Functional Additive',
 105534.0: 'Functional Additive',
 105531.0: 'Functional Additive',
 103787.0: 'Functional Additive',
 105535.0: 'Functional Additive',
 105559.0: 'Functional Additive',
 105536.0: 'Functional Additive',
 105537.0: 'Functional Additive',
 105538.0: 'Functional Additive',
 105023.0: 'Functional Additive',
 103090.0: 'Functional Additive',
 103259.0: 'Functional Additive',
 103087.0: 'Functional Additive',
 103088.0: 'Functional Additive',
 103089.0: 'Functional Additive',
 103823.0: 'Functional Additive',
 106983.0: 'Functional Additive',
 602148.0: 'Opex',
 600250.0: 'Opex',
 602275.0: 'Opex',
 601753.0: 'Opex',
 601964.0: 'Opex',
 611258.0: 'Opex',
 601908.0: 'Opex',
 601993.0: 'Opex',
 602001.0: 'Opex',
 602210.0: 'Opex',
 602211.0: 'Opex',
 611689.0: 'Opex',
 601675.0: 'Opex',
 601672.0: 'Opex',
 601673.0: 'Opex',
 602103.0: 'Opex',
 601725.0: 'Opex',
 103016.0: 'Functional Additive',
 103015.0: 'Functional Additive',
 103014.0: 'Functional Additive',
 103328.0: 'Functional Additive',
 101618.0: 'Functional Additive',
 106468.0: 'Functional Additive',
 601683.0: 'Opex',
 600253.0: 'Opex',
 600257.0: 'Opex',
 600258.0: 'Opex',
 600264.0: 'Opex',
 600256.0: 'Opex',
 600269.0: 'Opex',
 103269.0: 'Functional Additive',
 103097.0: 'Functional Additive',
 106467.0: 'Functional Additive',
 103104.0: 'Functional Additive',
 103103.0: 'Functional Additive',
 103100.0: 'Functional Additive',
 103102.0: 'Functional Additive',
 600884.0: 'Opex',
 602254.0: 'Opex',
 601195.0: 'Opex',
 602106.0: 'Opex',
 105393.0: 'Functional Additive',
 103205.0: 'Functional Additive',
 103206.0: 'Functional Additive',
 103207.0: 'Functional Additive',
 106492.0: 'Functional Additive',
 106490.0: 'Functional Additive',
 105659.0: 'Functional Additive',
 103154.0: 'Functional Additive',
 600788.0: 'Opex',
 103792.0: 'Functional Additive',
 106140.0: 'Functional Additive',
 601406.0: 'Opex',
 103883.0: 'Functional Additive',
 600590.0: 'Opex',
 600871.0: 'Opex',
 600403.0: 'Opex',
 600413.0: 'Opex',
 602278.0: 'Opex',
 602279.0: 'Opex',
 103817.0: 'Functional Additive',
 105710.0: 'Functional Additive',
 103809.0: 'Functional Additive',
 105022.0: 'Functional Additive',
 614022.0: 'Opex',
 103184.0: 'Functional Additive',
 103170.0: 'Functional Additive',
 601158.0: 'Opex',
 602147.0: 'Opex',
 201384.0: 'Packaging',
 201128.0: 'Packaging',
 201329.0: 'Packaging',
 106420.0: 'Functional Additive',
 101640.0: 'Functional Additive',
 101643.0: 'Functional Additive',
 201243.0: 'Packaging',
 200241.0: 'Packaging',
 602174.0: 'Opex',
 101089.0: 'Functional Additive',
 103171.0: 'Functional Additive',
 103173.0: 'Functional Additive',
 103177.0: 'Functional Additive',
 103178.0: 'Functional Additive',
 103208.0: 'Functional Additive',
 103222.0: 'Functional Additive',
 103778.0: 'Functional Additive',
 103795.0: 'Functional Additive',
 103800.0: 'Functional Additive',
 103807.0: 'Functional Additive',
 103811.0: 'Functional Additive',
 104760.0: 'Functional Additive',
 104761.0: 'Functional Additive',
 104912.0: 'Functional Additive',
 106070.0: 'Functional Additive',
 106510.0: 'Functional Additive',
 106635.0: 'Functional Additive',
 106991.0: 'Functional Additive',
 107006.0: 'Functional Additive',
 201155.0: 'Packaging',
 201309.0: 'Packaging',
 202559.0: 'Packaging',
 202768.0: 'Packaging',
 600175.0: 'Opex',
 600176.0: 'Opex',
 600242.0: 'Opex',
 600374.0: 'Opex',
 600543.0: 'Opex',
 600635.0: 'Opex',
 600759.0: 'Opex',
 600760.0: 'Opex',
 600764.0: 'Opex',
 600817.0: 'Opex',
 600896.0: 'Opex',
 601015.0: 'Opex',
 601017.0: 'Opex',
 601069.0: 'Opex',
 601170.0: 'Opex',
 601241.0: 'Opex',
 601242.0: 'Opex',
 601264.0: 'Opex',
 601522.0: 'Opex',
 601525.0: 'Opex',
 601604.0: 'Opex',
 601611.0: 'Opex',
 601613.0: 'Opex',
 601618.0: 'Opex',
 601622.0: 'Opex',
 601633.0: 'Opex',
 601682.0: 'Opex',
 601684.0: 'Opex',
 601686.0: 'Opex',
 601701.0: 'Opex',
 601731.0: 'Opex',
 602169.0: 'Opex',
 602243.0: 'Opex',
 602244.0: 'Opex',
 602249.0: 'Opex',
 602255.0: 'Opex',
 602274.0: 'Opex',
 602428.0: 'Opex',
 602454.0: 'Opex',
 602456.0: 'Opex',
 611647.0: 'Opex',
 612100.0: 'Opex',
 107060.0: 'Functional Additive',
 103187.0: 'Functional Additive',
 201250.0: 'Packaging',
 106100.0: 'Functional Additive',
 105711.0: 'Functional Additive',
 600211.0: 'Opex',
 611701.0: 'Opex',
 600189.0: 'Opex',
 600192.0: 'Opex',
 600331.0: 'Opex',
 614501.0: 'Opex',
 601215.0: 'Opex',
 601204.0: 'Opex',
 600353.0: 'Opex',
 600451.0: 'Opex',
 601231.0: 'Opex',
 601205.0: 'Opex',
 601036.0: 'Opex',
 600540.0: 'Opex',
 600541.0: 'Opex',
 600688.0: 'Opex',
 600942.0: 'Opex',
 600943.0: 'Opex',
 602193.0: 'Opex',
 602200.0: 'Opex',
 602201.0: 'Opex',
 611648.0: 'Opex',
 600766.0: 'Opex',
 600767.0: 'Opex',
 600768.0: 'Opex',
 600769.0: 'Opex',
 601082.0: 'Opex',
 601122.0: 'Opex',
 601129.0: 'Opex',
 601130.0: 'Opex',
 600825.0: 'Opex',
 600851.0: 'Opex',
 601270.0: 'Opex',
 611572.0: 'Opex',
 601457.0: 'Opex',
 602273.0: 'Opex',
 611982.0: 'Opex',
 601754.0: 'Opex',
 601996.0: 'Opex',
 602014.0: 'Opex',
 202784.0: 'Packaging',
 202777.0: 'Packaging',
 202779.0: 'Packaging',
 202776.0: 'Packaging',
 202782.0: 'Packaging',
 202781.0: 'Packaging',
 202965.0: 'Packaging',
 202630.0: 'Packaging',
 202616.0: 'Packaging',
 202785.0: 'Packaging',
 202778.0: 'Packaging',
 202612.0: 'Packaging',
 103193.0: 'Functional Additive',
 107072.0: 'Functional Additive',
 107073.0: 'Functional Additive',
 107074.0: 'Functional Additive',
 107075.0: 'Functional Additive',
 107076.0: 'Functional Additive',
 104640.0: 'Functional Additive',
 101494.0: 'Functional Additive',
 105902.0: 'Functional Additive',
 103309.0: 'Functional Additive',
 105521.0: 'Functional Additive',
 103194.0: 'Functional Additive',
 107092.0: 'Functional Additive',
 105461.0: 'Functional Additive',
 104673.0: 'Functional Additive',
 103820.0: 'Functional Additive',
 107112.0: 'Functional Additive',
 107078.0: 'Functional Additive',
 107096.0: 'Functional Additive',
 103618.0: 'Functional Additive',
 107095.0: 'Functional Additive',
 107130.0: 'Functional Additive',
 103803.0: 'Functional Additive',
 106730.0: 'Functional Additive',
 107061.0: 'Functional Additive',
 107070.0: 'Functional Additive',
 107104.0: 'Functional Additive',
 107144.0: 'Functional Additive',
 107141.0: 'Functional Additive',
 107142.0: 'Functional Additive',
 107150.0: 'Functional Additive',
 103051.0: 'Functional Additive',
 103353.0: 'Functional Additive',
 100703.0: 'Functional Additive',
 105744.0: 'Functional Additive',
 107163.0: 'Functional Additive',
 107164.0: 'Functional Additive',
 106529.0: 'Functional Additive',
 103098.0: 'Functional Additive',
 106519.0: 'Functional Additive',
 103371.0: 'Functional Additive',
 105037.0: 'Functional Additive',
 103853.0: 'Functional Additive',
 103796.0: 'Functional Additive',
 103808.0: 'Functional Additive',
 103812.0: 'Functional Additive',
 103824.0: 'Functional Additive',
 103050.0: 'Functional Additive',
 105894.0: 'Functional Additive',
 105959.0: 'Functional Additive',
 103776.0: 'Functional Additive',
 103779.0: 'Functional Additive',
 103782.0: 'Functional Additive',
 103783.0: 'Functional Additive',
 103786.0: 'Functional Additive',
 103791.0: 'Functional Additive',
 103793.0: 'Functional Additive',
 103799.0: 'Functional Additive',
 103801.0: 'Functional Additive',
 103810.0: 'Functional Additive',
 103813.0: 'Functional Additive',
 103814.0: 'Functional Additive',
 103828.0: 'Functional Additive',
 103829.0: 'Functional Additive',
 103831.0: 'Functional Additive',
 103834.0: 'Functional Additive',
 103857.0: 'Functional Additive',
 101956.0: 'Functional Additive',
 106511.0: 'Functional Additive',
 106500.0: 'Functional Additive',
 106312.0: 'Functional Additive',
 105723.0: 'Functional Additive',
 106469.0: 'Functional Additive',
 105721.0: 'Functional Additive',
 103199.0: 'Functional Additive',
 106487.0: 'Functional Additive',
 106488.0: 'Functional Additive',
 106486.0: 'Functional Additive',
 104690.0: 'Functional Additive',
 104891.0: 'Functional Additive',
 103832.0: 'Functional Additive',
 103619.0: 'Functional Additive',
 106475.0: 'Functional Additive',
 106453.0: 'Functional Additive',
 103794.0: 'Functional Additive',
 103818.0: 'Functional Additive',
 103200.0: 'Functional Additive',
 103862.0: 'Functional Additive',
 105645.0: 'Functional Additive',
 103624.0: 'Functional Additive',
 105444.0: 'Functional Additive',
 102235.0: 'Functional Additive',
 104746.0: 'Functional Additive',
 106414.0: 'Functional Additive',
 106528.0: 'Functional Additive',
 106712.0: 'Functional Additive',
 106370.0: 'Functional Additive',
 106591.0: 'Functional Additive',
 104766.0: 'Functional Additive',
 106675.0: 'Functional Additive',
 106581.0: 'Functional Additive',
 106665.0: 'Functional Additive',
 106666.0: 'Functional Additive',
 106664.0: 'Functional Additive',
 103603.0: 'Functional Additive',
 103881.0: 'Functional Additive',
 106582.0: 'Functional Additive',
 106182.0: 'Functional Additive',

In [ ]:
dfm.loc[dfm['Level 1'].isna(), 'Level 1'] = dfm['Material'].map(wmaterial_i_dict['Level 1'])
dfm.loc[dfm['Level 2'].isna(), 'Level 2'] = dfm['Material'].map(wmaterial_i_dict['Level 2'])
dfm.loc[dfm['UNSPSC'].isna(), 'UNSPSC'] = dfm['Material'].map(wmaterial_i_dict['UNSPSC'])
dfm.loc[dfm['Level 3'].isna(), 'Level 3'] = dfm['Material'].map(wmaterial_i_dict['Level 3'])
dfm.loc[dfm['Material Group Desc Revised'].isna(), 'Material Group Desc Revised'] = dfm['Material'].map(wmaterial_i_dict['Material Group Desc Revised'])

In [ ]:
#THIRD Dict

In [ ]:
dfm.loc[dfm['Level 1'].isna(), 'Level 1'] = dfm['Matl Group'].map(nomaterial_i_dict['Level 1'])
dfm.loc[dfm['Level 2'].isna(), 'Level 2'] = dfm['Matl Group'].map(nomaterial_i_dict['Level 2'])
dfm.loc[dfm['UNSPSC'].isna(), 'UNSPSC'] = dfm['Matl Group'].map(nomaterial_i_dict['UNSPSC'])
dfm.loc[dfm['Level 3'].isna(), 'Level 3'] = dfm['Matl Group'].map(nomaterial_i_dict['Level 3'])
dfm.loc[dfm['Material Group Desc Revised'].isna(), 'Material Group Desc Revised'] = dfm['Matl Group'].map(nomaterial_i_dict['Material Group Desc Revised'])

In [ ]:
#FOURTH Dict

In [ ]:
dfm.loc[dfm['Level 1'].isna(), 'Level 1'] = dfm['Material Description'].map(cn_logistic_i_dict['Level 1'])
dfm.loc[dfm['Level 2'].isna(), 'Level 2'] = dfm['Material Description'].map(cn_logistic_i_dict['Level 2'])
dfm.loc[dfm['UNSPSC'].isna(), 'UNSPSC'] = dfm['Material Description'].map(cn_logistic_i_dict['UNSPSC'])
dfm.loc[dfm['Level 3'].isna(), 'Level 3'] = dfm['Material Description'].map(cn_logistic_i_dict['Level 3'])
dfm.loc[dfm['Material Group Desc Revised'].isna(), 'Material Group Desc Revised'] = dfm['Material Description'].map(cn_logistic_i_dict['Material Group Desc Revised'])

In [ ]:
#FIFTH Dict

In [ ]:
report_table_i_dict.keys()

dict_keys(['Report Table'])

In [ ]:
dfm.loc[dfm['Report Table'].isna(), 'Report Table'] = dfm['Level 1'].map(report_table_i_dict['Report Table'])

In [ ]:
dfm.isna().sum()

index                                     0
Year                                      0
Month                                     0
Report Table                             68
Level 1                                  68
Level 2                                  68
UNSPSC                                  268
Level 3                                  68
Material Group Desc Revised              68
New Mtl Grp Key                         268
Plant                                     0
Material                                151
Vendor                                    0
Purchase Order                            0
PO Item No                                0
Material Description                      0
Storage Location                        151
Movement Type                             0
Movement Type Text                      117
Material Document                         0
Posting Date                              0
Order                                   261
Quantity                                  0
Base Unit of Measure                    151
Currency                                  0
Amount in LC                              0
Qty in Un. of Entry                       0
Unit of Entry                             0
User name                                 0
Vendor Name                             124
Matl Group                              124
Material Group Desc.                    124
Description 2 for the material group    124
Acct Assignment Cat.                    185
Plant Name                                0
CP2                                     268
Amount in MYR                           268
Period                                  268
Country                                   0
Unit Cost in LC                         268
VC                                      124
VN                                      124
Quantity2                               268
UOM                                     178
Division                                268
RW Cat                                  268
Vendor Code1                            268
Vendor Name1                            268
Unit Price - Savings                      0
CoCd                                      0
dtype: int64

In [ ]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 50 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   index                                 268 non-null    int64
 1   Year                                  268 non-null    object
 2   Month                                 268 non-null    object
 3   Report Table                          200 non-null    object
 4   Level 1                               200 non-null    object
 5   Level 2                               200 non-null    object
 6   UNSPSC                                0 non-null      float64
 7   Level 3                               200 non-null    object
 8   Material Group Desc Revised           200 non-null    object
 9   New Mtl Grp Key                       0 non-null      float64
 10  Plant                                 268 non-null    int64
 11  Material                              117 non-null    float64
 12  Vendor                                268 non-null    float64
 13  Purchase Order                        268 non-null    float64
 14  PO Item No                            268 non-null    object
 15  Material Description                  268 non-null    object
 16  Storage Location                      117 non-null    float64
 17  Movement Type                         268 non-null    float64
 18  Movement Type Text                    151 non-null    object
 19  Material Document                     268 non-null    float64
 20  Posting Date                          268 non-null    datetime64[ns]
 21  Order                                 7 non-null      float64
 22  Quantity                              268 non-null    float64
 23  Base Unit of Measure                  117 non-null    object
 24  Currency                              268 non-null    object
 25  Amount in LC                          268 non-null    float64
 26  Qty in Un. of Entry                   268 non-null    float64
 27  Unit of Entry                         268 non-null    object
 28  User name                             268 non-null    object
 29  Vendor Name                           144 non-null    object
 30  Matl Group                            144 non-null    object
 31  Material Group Desc.                  144 non-null    object
 32  Description 2 for the material group  144 non-null    object
 33  Acct Assignment Cat.                  83 non-null     object
 34  Plant Name                            268 non-null    object
 35  CP2                                   0 non-null      object
 36  Amount in MYR                         0 non-null      float64
 37  Period                                0 non-null      float64
 38  Country                               268 non-null    object
 39  Unit Cost in LC                       0 non-null      float64
 40  VC                                    144 non-null    object
 41  VN                                    144 non-null    object
 42  Quantity2                             0 non-null      float64
 43  UOM                                   90 non-null     object
 44  Division                              0 non-null      float64
 45  RW Cat                                0 non-null      float64
 46  Vendor Code1                          0 non-null      float64
 47  Vendor Name1                          0 non-null      float64
 48  Unit Price - Savings                  268 non-null    float64
 49  CoCd                                  268 non-null    float64
dtypes: datetime64[ns](1), float64(22), int64(2), object(25)
memory usage: 104.8+ KB

In [ ]:
dfm['Period'] = dfm['Year'] + dfm['Month']

In [ ]:
dfm['Period'].head()

0    202305
1    202305
2    202305
3    202305
4    202305
Name: Period, dtype: object

In [ ]:
dfm['Currency'].value_counts()

CNY    268
Name: Currency, dtype: int64

In [ ]:
dfm['CP2'] = dfm['Currency'] + dfm['Period']

In [ ]:
dfm['CP2'].value_counts()

CNY202305    268
Name: CP2, dtype: int64

In [ ]:
curr = curr.iloc[:,0:4]

In [ ]:
curr.head()

  Currency  Period         CP    Rate
0      CNY  201801  CNY201801  0.6194
1      USD  201801  USD201801  3.9009
2      CNY  201802  CNY201802  0.6200
3      USD  201802  USD201802  3.9228
4      CNY  201803  CNY201803  0.6143

In [ ]:
curr_i = curr.set_index('CP')

In [ ]:
curr_i = curr_i.loc[~curr_i['Currency'].isna(),:]

In [ ]:
curr_i

          Currency  Period    Rate
CP
CNY201801      CNY  201801  0.6194
USD201801      USD  201801  3.9009
CNY201802      CNY  201802  0.6200
USD201802      USD  201802  3.9228
CNY201803      CNY  201803  0.6143
...            ...     ...     ...
THB202304      THB  202304  0.1295
CNY202304      CNY  202304  0.6393
USD202305      USD  202305  4.5828
THB202305      THB  202305  0.1321
CNY202305      CNY  202305  0.6454

[195 rows x 3 columns]

In [ ]:
curr_i_dict = curr_i.to_dict()

In [ ]:
curr_i_dict.keys()

dict_keys(['Currency', 'Period', 'Rate'])

In [ ]:
dfm.loc[dfm['Level 1'].isna(), 'Level 1'] = dfm['Acct Assignment Cat.'].map(curr_i_dict['Rate'])

In [ ]:
dfm['Amount in MYR'] = (dfm['CP2'].map(curr_i_dict['Rate'])*dfm['Amount in LC']).round(decimals=2)

In [ ]:
dfm.loc[0:5,['Amount in LC','CP2','Amount in MYR']] #checking

   Amount in LC        CP2  Amount in MYR
0       6991.32  CNY202305        4512.20
1     308535.60  CNY202305      199128.88
2     177200.29  CNY202305      114365.07
3     181762.80  CNY202305      117309.71
4      19975.20  CNY202305       12891.99
5      24690.25  CNY202305       15935.09

In [ ]:
dfm.isna().sum()

index                                     0
Year                                      0
Month                                     0
Report Table                             68
Level 1                                  68
Level 2                                  68
UNSPSC                                  268
Level 3                                  68
Material Group Desc Revised              68
New Mtl Grp Key                         268
Plant                                     0
Material                                151
Vendor                                    0
Purchase Order                            0
PO Item No                                0
Material Description                      0
Storage Location                        151
Movement Type                             0
Movement Type Text                      117
Material Document                         0
Posting Date                              0
Order                                   261
Quantity                                  0
Base Unit of Measure                    151
Currency                                  0
Amount in LC                              0
Qty in Un. of Entry                       0
Unit of Entry                             0
User name                                 0
Vendor Name                             124
Matl Group                              124
Material Group Desc.                    124
Description 2 for the material group    124
Acct Assignment Cat.                    185
Plant Name                                0
CP2                                       0
Amount in MYR                             0
Period                                    0
Country                                   0
Unit Cost in LC                         268
VC                                      124
VN                                      124
Quantity2                               268
UOM                                     178
Division                                268
RW Cat                                  268
Vendor Code1                            268
Vendor Name1                            268
Unit Price - Savings                      0
CoCd                                      0
dtype: int64

In [ ]:
dfm['Unit Cost in LC'] = (dfm['Amount in LC']/dfm['Qty in Un. of Entry']).round(2)

In [ ]:
dfm.loc[~df['Qty in Un. of Entry'].isna(),['Amount in LC','Qty in Un. of Entry','Unit Cost in LC']] #checking

     Amount in LC  Qty in Un. of Entry  Unit Cost in LC
1       308535.60             14400.00            21.43
2       177200.29             24080.00             7.36
3       181762.80                24.70          7358.82
4        19975.20                40.00           499.38
5        24690.25              3000.00             8.23
..            ...                  ...              ...
263       4878.90                 7.16           681.41
264       1820.15              1820.15             1.00
265      16629.36                 1.00         16629.36
266      14100.00                 1.00         14100.00
267       4497.31                 6.60           681.41

[267 rows x 3 columns]

In [ ]:
dfm['Vendor Code1'] = dfm['VC']
dfm['Vendor Name1'] = dfm['VN']

In [ ]:
dfm['Quantity2'] = dfm['Qty in Un. of Entry']

In [ ]:
dfm['Period2'] = dfm['Period']

In [ ]:
dfm.isna().sum()

index                                     0
Year                                      0
Month                                     0
Report Table                             68
Level 1                                  68
Level 2                                  68
UNSPSC                                  268
Level 3                                  68
Material Group Desc Revised              68
New Mtl Grp Key                         268
Plant                                     0
Material                                151
Vendor                                    0
Purchase Order                            0
PO Item No                                0
Material Description                      0
Storage Location                        151
Movement Type                             0
Movement Type Text                      117
Material Document                         0
Posting Date                              0
Order                                   261
Quantity                                  0
Base Unit of Measure                    151
Currency                                  0
Amount in LC                              0
Qty in Un. of Entry                       0
Unit of Entry                             0
User name                                 0
Vendor Name                             124
Matl Group                              124
Material Group Desc.                    124
Description 2 for the material group    124
Acct Assignment Cat.                    185
Plant Name                                0
CP2                                       0
Amount in MYR                             0
Period                                    0
Country                                   0
Unit Cost in LC                           0
VC                                      124
VN                                      124
Quantity2                                 0
UOM                                     178
Division                                268
RW Cat                                  268
Vendor Code1                            124
Vendor Name1                            124
Unit Price - Savings                      0
CoCd                                      0
Period2                                   0
dtype: int64

In [ ]:
double_check = dfm.loc[dfm['Level 1'].isna(),['Level 1','Material','Matl Group','Material Group Desc.','Material Description','Vendor','Acct Assignment Cat.']]
double_check

,Level 1,Material,Matl Group,Material Group Desc.,Material Description,Vendor,Acct Assignment Cat.
117,NaN,NaN,NaN,NaN,10块AI卡件采购24275.33元（不含13%税）CIA,110526.0,NaN
118,NaN,NaN,NaN,NaN,2022年度危废运输费,110566.0,NaN
119,NaN,NaN,NaN,NaN,2023 Caojing Utility cost (Electricity),110860.0,NaN
120,NaN,NaN,NaN,NaN,2023 Caojing Utility cost (Natural Gas),116019.0,NaN
121,NaN,NaN,NaN,NaN,2023年4月份管廊租赁费用22246.55元（不含9%税）,111010.0,NaN
...,...,...,...,...,...,...,...
180,NaN,NaN,NaN,NaN,325目SWECO过滤网维修1个(不含13%增值税）,110839.0,NaN
181,NaN,NaN,NaN,NaN,500目SWECO过滤网维修1个(不含13%增值税）,110839.0,NaN
182,NaN,NaN,NaN,NaN,office supplies(6 months),114956.0,NaN
183,NaN,NaN,NaN,NaN,液氮2023年3月费用（未含13%税）,110810.0,NaN
184,NaN,NaN,NaN,NaN,7%双氧水(3290成品罐杀菌）,110463.0,NaN

In [ ]:
dfm.to_csv('clean_chinamb51'+'_'+curr_year+'_'+curr_month+'.csv')